<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
      {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css"%}">
    {% block extrahead %}{% endblock extrahead %}
  </head>

  <body>
    <div id="pc-content">
      <div id="side-box">
        <div class="logo-box">
          <img src="{% static "logo/relanz-logo1.png" %}" alt="relanz-logo1">
        </div>
        <div class="message-box">
          <div class="large-message">
            <p>올바른 스트레스 해소법,<br/>릴렌즈와 함께 찾아봐!</p>
          </div>
          <div class="small-message">
            <p>챌린지 말고, 이젠 릴렌지 하자!</p>
          </div>
        </div>
        <div class="word-box">
          <div class="word-define">
            <span>Relax+Challenge=릴렌지</span>
          </div>
          <div class="word-describe">
            <p>
              나한테 맞는 스트레스 해소법 찾고,<br/>릴렌즈와 함께 관리를 시작해보세요
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="mobile-content">
      {% block content %}{% endblock content %}
    </div>
    {% block scripts%}{% endblock scripts%}
  </body>

</html>