{% extends 'base.html' %}
{% load static %}
{% block title %}
  Survey
{% endblock title %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static "css/survey.css"%}">
{% endblock extrahead %}
{% block content%}
  <form method="POST">
    {% csrf_token %}
    <div class="container-mobile">
      <div class="intro-text-div">
        <p>반가워요,</p>
        <div class="name-div">
          <h3>{{user}}</h3>
          <span>님!</span>
        </div>
        <div class="descript-div">
          <p>먼저
            {{user}}
            님을 파악하기 위해 간단한 테스트로</p>
          <p>시작해볼께요. 해당 사항에 모두 체크해주세요!</p>
        </div>
        <div class="explain-div" onclick="controlPopUp()">
          <p class="explain-div-p">무슨 테스트인가요?</p>
          <div class="explain-info-popup" id="pop_up_div" data-index="-1">
            <div class="explain-check-img-div">
              <img src="{% static "images/login/okIcon.png" %}" alt=".">
            </div>
            <div class="explain-check-text">
              <p>해당 체크리스트는</p>
              <p>"스트레스 취약성 테스트"로,</p>
              <p>내가 얼마나 스트레스에</p>
              <p>취약한 편인지 확인할 수 있습니다.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="image-box">
        <img src="{% static "images/faces_effected.png"%}" alt=".">
      </div>
      <div class="select-info-div">
        <p>해당 사항에 모두 체크해주세요!</p>
        <div class="select-info-bundle-div">
          <div id="check_1" data-ischeck="0" onclick="checkTurnBlue(this)">일이 풀리지 않으면 자책부터 하는 편이다.</div>
          <div id="check_2" data-ischeck="0" onclick="checkTurnBlue(this)">중요한 문제를 의논할 친구가 없다.</div>
          <div id="check_3" data-ischeck="0" onclick="checkTurnBlue(this)">본인이 원하는 것을 명확하게 표현하지 못한다.</div>
          <div id="check_4" data-ischeck="0" onclick="checkTurnBlue(this)">일을 해냈을 때 성취감보다 안도감이 든다.</div>
          <div id="check_5" data-ischeck="0" onclick="checkTurnBlue(this)">취미 샐활이 일로 느껴져 포기했다.</div>
          <div id="check_6" data-ischeck="0" onclick="checkTurnBlue(this)">이루고자 하는 목표가 높다는 말을 자주 듣는다.</div>
          <div id="check_7" data-ischeck="0" onclick="checkTurnBlue(this)">칭찬을 듣고 의심해 본 적이 많다.</div>
        </div>
      </div>
      <div class="next-button-div">
        <button type="submit" action="{% url 'user:survey' %}">다음단계</button>
      </div>
    </div>
    <input type="hidden" name="survey_result_count" value="0" id="survey_result_count">
  </form>
{% endblock %}

{% block scripts %}
  <script src="{% static "js/survey.js" %}"></script>
{% endblock %}