.mobile-header {
  display: flex;
  position: fixed;
  top: 0;
  max-width: 430px;
  width: 100%;
  height: 5.8rem;
  justify-content: center;
  background-color: #fff;
  z-index: 600;
}

.mobile-header > a {
  width: 4.5rem;
  margin-top: 2.5rem;
}

.mobile-header > a > img {
  width: 100%;
  object-fit: cover;
}

.mobile-content {
  position: absolute;
  top: 5.8rem;
  width: 100%;
}


.mobile-nav {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 430px;
  height: 5.5rem;
  background: #fff;
  box-shadow: 0px -6px 8px rgba(154, 188, 255, 0.65);
  z-index: 600;
}

.mobile-nav > ul {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0 15px 0 15px;
}

.mobile-nav > ul > li {
  list-style: none;
  width: 100px;
  padding: 15px 12px 15px 12px;
  text-align: center;
}

.mobile-nav > ul > li > a {
  display: block;
  height: 100%;
}

.mobile-nav > ul > li > a > img {
  height: 100%;
}