<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    나이, 성별 <br/>
    <form method='post'>
    {% csrf_token %}
    <input type="number" required="required" name='birth'>
    <span>나이</span>
    <hr>
    <span>성별</span>
    <input type="radio" name="sex" value="male" checked>
    <label>남자</label>
    <input type="radio" name="sex" value="female">
    <label>여자</label>

    <button class="accountInfo" type="submit" action="{% url 'user:content' %}">다음</button>
    <br>
</form>

  </body>
</html>