{% load i18n static %}

{% block content %}

{% if validlink %}
  <h2>비밀번호 재설정</h2>

  <p>새로운 비밀번호를 정확히 입력했는지</p>
  <p>확인할 수 있도록 두 번 입력하시기 바랍니다</p>

  <form method="post">
    {% csrf_token %}
    <fieldset class="module aligned">
      <div class="form-row">
        <label for="id_new_password1">새로운 비밀번호 입력</label><br>
        {{ form.new_password1.errors }}
        <input type="password" placeholder="비밀번호를 입력해주세요" name="new_password1" id="password" class="password-input" autocomplete="off" onkeyup="noSpaceForm(this);" onchange="noSpaceForm(this)">
      </div>
      <div class="form-row">
        <label for="id_new_password2">새로운 비밀번호 확인</label><br>
        {{ form.new_password2.errors }}
        <input type="password" placeholder="비밀번호를 다시 입력해주세요" name="new_password2" id="re_password" class="re-password-input" autocomplete="off" onkeyup="noSpaceForm(this);" onchange="noSpaceForm(this)">
      </div>

      <input type="submit" value="비밀번호 재설정">
    </fieldset>
  </form>

{% else %}
  <p>비밀번호 링크가 유효하지 않습니다</p>
  <p>다시 초기화를 진행해주세요</p>
{% endif %}

{% endblock %}
