{% extends 'base.html' %}
{% load static %}
{% block title %}
  SignIn
{% endblock title %}
{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static "css/signin.css"%}">
{% endblock extrahead %}
{% block content%}
  <div class="container-mobile">
    <div class="small-message_mobile">
      <p>챌린지 말고, 이젠 릴렌지 하자!</p>
    </div>
    <div class="logo-box_big">
      <img src="{% static "logo/relanz-logo1.png" %}" alt="relanz-logo">
    </div>
    <div class="login-center-mobile">
      <h4>Login</h4>
    </div>
    <div class="login-form-div-mobile">
      <form action="" method="post">
        <input type="text" placeholder="아이디 입력" id="username" class="username-input">
        <input type="text" placeholder="비밀번호 입력" id="password" class="password-input">
        <div class="find-id-password">
          <a href="http://" class="find-id">아이디 찾기</a>
          <span>|</span>
          <a href="http://" class="find-password">비밀번호 찾기</a>
        </div>
        <input type="submit" value="로그인하기" class="submit-input">
      </form>
    </div>
    <div class="ask-signup-div">
      <p>아직 회원이 아니신가요?</p>
      <a href="{% url 'user:signup' %}" class="ask-signup-a">회원가입</a>
    </div>
  </div>
{% endblock %}