{% extends 'base.html' %}
{% load static %}
{% block title %}
  SignIn
{% endblock title %}
{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static "css/signin.css"%}">
{% endblock extrahead %}
{% block content%}
  <div class="container-mobile">
    <div class="container-for-relative">
      <div class="warning-user" id="warning_user_div">
        <p class="warning-ment">사용자의 정보가 올바르지 않습니다.</p>
        <button type="button" class="warning-btn" id="warning_btn">확인</button>
      </div>
      <div class="small-message_mobile">
        <p>챌린지 말고, 이젠 릴렌지 하자!</p>
      </div>
      <div class="logo-box_big">
        <img src="{% static "logo/relanz-logo1.png" %}" alt="relanz-logo">
      </div>
      <div class="login-center-mobile">
        <h4>Login</h4>
      </div>
      <div class="login-form-div-mobile">
        <form action="" method="post">
          {% csrf_token %}
          <input type="text" placeholder="아이디 입력" name="username" id="username" class="username-input">
          <!-- name tag 그대로 유지 안하면 서버에서 데이터 받을 때 인식 못해요! -->
          <input type="password" placeholder="비밀번호 입력" name="password" id="password" class="password-input" autocomplete='off'>
          <!-- name tag 그대로 유지 안하면 서버에서 데이터 받을 때 인식 못해요! -->
          <div class="find-id-password">
            <a href="{% url 'user:findid' %}" class="find-id">아이디 찾기</a>
            <span>|</span>
            <a href="http://127.0.0.1:8000/user/password_reset/" class="find-password">비밀번호 찾기</a>
          </div>
          <input type="submit" value="로그인하기" name='login' class="submit-input">
          <!--여기도 동일하게 name tag 유지 해주셔야 되여!-->
        </form>
      </div>
      <div class="ask-signup-div">
        <p>아직 회원이 아니신가요?</p>
        <a href="{% url 'user:signup' %}" class="ask-signup-a">회원가입</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts%}
  <script src={% static "js/signin.js"%}></script>
{% endblock scripts%}