<h1>유저 정보</h1>
<br />
<hr />
<h2>{{user.username}}</h2>
<hr />
<p>닉네임: {{user.nickname}}</p>
<p>나이: {{ user.age }}</p>
{% if user.sex == 'male' %}
<p>성별: 남성 </p>
{% else %}
<p>성별: 여성 </p>
{% endif %}


{% if tags.morning %}
    <!-- 해당 태그를 유저가 가지고 있을 때 뜰 내용을 적어주세요 -->
{% endif %}

{% if tags.afternoon %}
    <!-- 해당 태그를 유저가 가지고 있을 때 뜰 내용을 적어주세요 -->
{% endif %}

{% if tags.evening %}
    <!-- 해당 태그를 유저가 가지고 있을 때 뜰 내용을 적어주세요 -->
{% endif %}

{% if tags.inside %}
    <!-- 해당 태그를 유저가 가지고 있을 때 뜰 내용을 적어주세요 -->
{% endif %}

{% if tags.outside %}
    <!-- 해당 태그를 유저가 가지고 있을 때 뜰 내용을 적어주세요 -->
{% endif %}

{% if tags.solo %}
    <!-- 해당 태그를 유저가 가지고 있을 때 뜰 내용을 적어주세요 -->
{% endif %}

{% if tags.group %}
    <!-- 해당 태그를 유저가 가지고 있을 때 뜰 내용을 적어주세요 -->
{% endif %}

{% if tags.extreme %}
    <!-- 해당 태그를 유저가 가지고 있을 때 뜰 내용을 적어주세요 -->
{% endif %}

{% if tags.calm %}
    <!-- 해당 태그를 유저가 가지고 있을 때 뜰 내용을 적어주세요 -->
{% endif %}

{% if tags.focus %}
    <!-- 해당 태그를 유저가 가지고 있을 때 뜰 내용을 적어주세요 -->
{% endif %}

{% if tags.achievement %}
    <!-- 해당 태그를 유저가 가지고 있을 때 뜰 내용을 적어주세요 -->
{% endif %}

{% if tags.bodyhealth %}
    <!-- 해당 태그를 유저가 가지고 있을 때 뜰 내용을 적어주세요 -->
{% endif %}

{% if tags.confidence %}
    <!-- 해당 태그를 유저가 가지고 있을 때 뜰 내용을 적어주세요 -->
{% endif %}

{% if tags.mental %}
    <!-- 해당 태그를 유저가 가지고 있을 때 뜰 내용을 적어주세요 -->
{% endif %}

{% if tags.short %}
    <!-- 해당 태그를 유저가 가지고 있을 때 뜰 내용을 적어주세요 -->
{% endif %}

{% if tags.newtry %}
    <!-- 해당 태그를 유저가 가지고 있을 때 뜰 내용을 적어주세요 -->
{% endif %}

<a href="{% url 'main:home' %}">홈으로</a>


