{% extends 'mobileBase.html' %}
{% load static %}

{% block mobile_title %}
  User Info
{% endblock mobile_title %}

{% block mobile_extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static "css/main/home.css"%}">
{% endblock mobile_extrahead %}


{% block mobile_content %}
<h1>유저 정보</h1>
<br />
<hr />
<h2>{{user.username}}</h2>
<hr />
<p>닉네임: {{user.nickname}}</p>
<p>나이: {{ user.age }}</p>
{% if user.sex == 'male' %}
<p>성별: 남성 </p>
{% else %}
<p>성별: 여성 </p>
{% endif %}

{% for tag in tags%}
    {{tag}}
{% endfor %}

<a href="{% url 'main:home' %}">홈으로</a>


{% for challenge in challenges %}
    <hr>
    {{challenge.title}}
    {% if challenge.image %}
    <img src="{% static challenge.image %}" alt="이미지">
    {% endif %}
    <a href="{% url 'challenge:challenge' challenge_id=challenge.id %}">상세보기</a>
{% endfor %}
<a href="{% url 'user:content' %}">프로필 수정하기</a>
<a href="{% url 'user:avatar' %}">아바타 수정하기</a>
{% endblock %}