.user-info {
  text-align: center;
  align-items: center;
}

.my-profile-section {
  display: flex;
  width: 100%;
  height: auto;
  padding: 25px 30px 10px 30px;
}

.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px; /* 조정 가능 */
  margin-top: 10px;
}

.profile-circle {
  width: 70px; /* 조정 가능 */
  height: 70px; /* 조정 가능 */
  border-radius: 50%;
  border: 3px solid #71a1ff;
  background-color: #fff; /* 배경색 조정 가능 */
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.profile-circle div {
  position: absolute;
  left: -3.5px;
  width: 110%;
  height: 110%;
  background: transparent center/cover;
}

.back-hair {
  /* 머리 스타일의 CSS 속성 */
  z-index: 11;
}

.face {
  /* 얼굴 스타일의 CSS 속성 */
  z-index: 12;
}

.front-hair {
  /* 앞 머리 스타일의 CSS 속성 */
  z-index: 14;
}

.eyebrows {
  /* 눈썹 스타일의 CSS 속성 */
  z-index: 13;
}

.eyes {
  /* 눈 스타일의 CSS 속성 */
  z-index: 13;
}

.nose {
  /* 코 스타일의 CSS 속성 */
  z-index: 13;
}

.mouth {
  /* 입 스타일의 CSS 속성 */
  z-index: 13;
}

.makeup {
  /* 볼터치 스타일의 CSS 속성 */
  z-index: 14;
}

.clothes {
  /* 옷 스타일의 CSS 속성 */
  z-index: 15;
}

.acc {
  /* 악세사리 스타일의 CSS 속성 */
  z-index: 15;
}

.my-profile-section > .profile-side {
  width: 100%;
}

.profile-side > .nickname {
  display: flex;
  padding: 20px 20px 10px 20px;
}

.user-nickname {
  font-size: 20px;
  font-weight: 600;
  color: #71a1ff;
}

.user-nickname > span {
  color: #494949;
}

.nickname > a {
  width: 70px;
  height: 22px;
  margin: 2px 0 0 10px;
  border: 1px solid #71a1ff;
  border-radius: 25px;
  padding: 4px;
  text-decoration: none;
  color: #494949;
  font-weight: 600;
  font-size: 12px;
}

.nickname > a:visited {
  text-decoration: none;
  color: #494949;
}

.info-container {
  display: flex;
  width: 100%;
  font-size: 14px;
  color: #494949;
  font-weight: 600;
  text-align: left;
}

.info-container > span {
  margin-left: 20px;
}

.info-container > a {
  width: 15px;
  height: 15px;
  padding-top: 1px;
}

.info-container > a > img {
  width: 100%;
  margin-left: 5px;
}

.tag-container {
  padding: 7px 30px 0px 30px;
  text-align: left;
}

.tag-container > span {
  color: #494949;
  font-size: 16px;
  font-weight: 600;
}

.tag-container > span > a {
  width: 15px;
  height: 15px;
}

.tag-container > span > a > img {
  width: 15px;
  height: 15px;
}

.tag-container > .tag-list {
  display: flex;
  margin-left: 5px;
  padding: 8px 0;
  list-style: none;
  overflow-x: scroll;
  white-space: nowrap;
}

.tag-list::-webkit-scrollbar {
  display: none;
}

.tag-list > li {
  display: inline-block;
  width: 55px;
  height: 25px;
  margin-right: 7px;
  padding: 5px;
  color: #fff;
  background-color: #71a1ff;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  align-items: center;
  gap: -1px;
  flex-shrink: 0;
}

.my-relange-section {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 10px 15px 80px 15px;
  border-top: 1px solid #e7e7e7;
}

.my-relange-section > h3 {
  margin: 20px 0;
  text-align: left;
  color: #494949;
  font-weight: 600;
  font-size: 16px;
}

.my-relange-section > span {
  color: #494949;
  font-weight: 500;
  font-size: 14px;
}

.my-relange-section > .relange-list {
  list-style: none;
  padding: 15px calc((100% - 350px) / 2);
}

.my-relange-section > .relange-list > li {
  position: relative;
  display: flex;
  width: 350px;
  height: 150px;
  border: 1px solid #9abcff;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin-bottom: 10px;
}

.my-relange-section > .relange-list > li:hover {
  top: 2px;
}

.relange-list > li > .relange-image {
  width: 150px;
  height: 100%;
  background-color: #e7e7e7;
}

.relange-list > li > .relange-image > a > img {
  width: 100%;
  object-fit: cover;
}

.relange-list > li > .relange-info {
  position: relative;
  width: calc(100% - 150px);
  height: 100%;
}

.relange-info > .title {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 170px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #5f5f5f;
  text-decoration: none;
}

.relange-info > .title:hover {
  color: #5f5f5f;
  text-decoration: underline;
}


.relange-info > form > button {
  position: absolute;
  top: 80px;
  left: 15px;
  width: 60px;
  height: 25px;
  border-radius: 12.5px;
  padding: 6px;
  background-color: #9abcff;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;

  border: none;
}

.relange-info > form > button:hover {
  cursor: pointer;
  background-color: #71a1ff;
}

.relange-info > a.write:visited {
  color: #fff;
  text-decoration: none;
}

.relange-info > .tags-wrapper {
  position: absolute;
  top: 118px;
  left: 15px;
  display: flex;
  width: 170px;
}

.tags-wrapper > span {
  width: auto;
  height: 13px;
  padding: 0.5px 4px;
  text-align: center;
  margin-right: 3px;
  border-radius: 15px;
  border: 1.5px solid #9abcff;
  background: #fff;
  color: #5f5f5f;
  font-size: 8px;
  font-weight: 400;
}
