{% extends 'mobileBase.html' %}
{% load static %}
{% block mobile_title %}
  challenge
{% endblock mobile_title %}
{% block mobile_extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static "css/challenge.css"%}">
{% endblock mobile_extrahead %}
{% block mobile_content%}
  <div class="scroll container-mobile">
    <div class="main-img-div">
            <img src="{% static challenge.image %}" alt="이미지">
    </div>
    <div class="main-container-div scroll">
        <div class="nav-div-absolute">
            <div class="nav-info">
                <a href="{% url 'challenge:challenge' challenge_id=challenge.id %}">릴렌지 안내</a>
            </div>
            <div class="nav-board">
                {% comment %} 여기에 커뮤게시판으로 가기 url {% endcomment %}
                <a href="{% url 'community:communityHome' challenge_id=challenge.id %}">커뮤니티 게시판</a>
            </div>
        </div>
        <div class="title-container-div">
            <div class="title-div">
                <div class="img-div">
                    <img src="{% static "icons/check_circle_down_lean.png" %}" alt=".">
                </div>
                <p class="title-p">{{challenge.title}}</p>
            </div>
            <div class="participant-count-div">
                <div class="participant-img-div">
                    <img src="{% static "icons/human_shaped.png" %}" alt=".">
                </div>
                <small class="participant-count-small">{{participant}}명이 참여 중인 릴렌지</small>
            </div>
        </div>
        <div class="tag-container-div">
            <div class="tag-div scroll">
                <div class="label">관련 태그</div>
                <ul class="scroll tag-list-ul">
                    {% for item in challenge_tag %}
                        <li class="tag-item-li">
                            {{item}}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="effect-div">
                <div class="label">효과</div>
                <div class="effect-text">{{challenge.sub_effect|linebreaksbr}}</div>
            </div>
        </div>
        <div class="content-container-div">
            <div class="effect-div">
                <div class="title">해소효과</div>
                <div class="content new-p" id="linebreaks_fix_1">{{challenge.effect|linebreaksbr}}</div>
            </div>
            <div class="recommand-to-people-container-div">
                <div class="title">이런 사람에게 추천해요!</div>
                <div class="content new-p" id="linebreaks_fix_2" >{{challenge.recommand|linebreaksbr}}</div>
            </div>
            {% comment %} 여기가 장소라 if 템플릿 사용하면 되용! {% endcomment %}
            <div class="recommand-place-container-outer-div">
                {% if challenge_tag_real.pay %}
                    <div class="recommand-place-container-div">
                        <div class="title-div">
                            <div class="img-div">
                                <img src="{% static "icons/map_point.png" %}" alt=".">
                            </div>
                            <p>추천 장소 안내</p>
                        </div>
                        <div class="text-info-div">
                            <p>유로 활동의 경우 릴렌즈에서 추천 장소를 안내해드려요!</p>
                        </div>
                        {% if challenge.id == 1 %}
                            <a href='https://map.naver.com/v5/search/%EB%B0%98%EC%8B%A0%EC%9A%95?c=15,0,0,0,dh' class="go-to-place-a">
                                <div>장소 보러 가기</div>
                            </a>
                        {% elif challenge.id == 2 %}
                            <a href='https://map.naver.com/v5/search/%ED%85%9C%ED%94%8C%EC%8A%A4%ED%85%8C%EC%9D%B4?c=13,0,0,0,dh' class="go-to-place-a">
                                <div>장소 보러 가기</div>
                            </a>
                        {% elif challenge.id == 3 %}
                            <a href='https://map.naver.com/v5/search/%EC%8B%AD%EC%9E%90%EC%88%98?c=13,0,0,0,dh' class="go-to-place-a">
                                <div>장소 보러 가기</div>
                            </a>
                        {% elif challenge.id == 4 %}
                            <a href='https://map.naver.com/v5/search/%ED%8D%BC%EC%A6%90?c=15,0,0,0,dh' class="go-to-place-a">
                                <div>장소 보러 가기</div>
                            </a>
                        {% elif challenge.id == 5 %}
                            <a href='https://map.naver.com/v5/search/%ED%95%84%EC%82%AC?c=15,0,0,0,dh' class="go-to-place-a">
                                <div>장소 보러 가기</div>
                            </a>
                        {% elif challenge.id == 6 %}
                            <a href='https://map.naver.com/v5/search/%EB%9E%98%ED%94%84%ED%8C%85?c=13,0,0,0,dh' class="go-to-place-a">
                                <div>장소 보러 가기</div>
                            </a>
                        {% elif challenge.id == 7 %}
                            <a href='https://map.naver.com/v5/search/%EB%9E%98%ED%94%84%ED%8C%85?c=13,0,0,0,dh' class="go-to-place-a">
                                <div>장소 보러 가기</div>
                            </a>
                        {% elif challenge.id == 8 %}
                            <a href='https://map.naver.com/v5/search/%EC%9E%90%EC%A0%84%EA%B1%B0?c=13,0,0,0,dh' class="go-to-place-a">
                                <div>장소 보러 가기</div>
                            </a>
                        {% elif challenge.id == 9 %}
                            <a href='https://map.naver.com/v5/search/%EC%9D%B8%EC%84%BC%EC%8A%A4%20%ED%85%8C%EB%9D%BC%ED%94%BC?c=15,0,0,0,dh' class="go-to-place-a">
                                <div>장소 보러 가기</div>
                            </a>
                        {% elif challenge.id == 10 %}
                            <a href='https://map.naver.com/v5/search/%EC%84%9C%ED%95%91?c=13,0,0,0,dh' class="go-to-place-a">
                                <div>장소 보러 가기</div>
                            </a>
                        {% elif challenge.id == 11 %}
                            <a href='https://map.naver.com/v5/search/%ED%8C%8C%EC%BF%A0%EB%A5%B4?c=13,0,0,0,dh' class="go-to-place-a">
                                <div>장소 보러 가기</div>
                            </a>
                        {% elif challenge.id == 12 %}
                            <a href='https://map.naver.com/v5/search/%EC%82%AC%EC%9A%B4%EB%93%9C%20%ED%85%8C%EB%9D%BC%ED%94%BC?c=15,0,0,0,dh' class="go-to-place-a">
                                <div>장소 보러 가기</div>
                            </a>
                        {% endif %}
                        
                    </div>
                {% endif %}
            </div>
            <div class="start-btn-div">
                {% comment %} 이미 참여한 경우 시작하기 버튼이 아닌 게시판 구경하기 버튼으로 바뀝니당! {% endcomment %}
                {% if participated %}
                    <a href="{% url 'community:communityHome' challenge.id %}">게시판 구경하기</a>
                {% else %}
                    <a href="{% url 'challenge:participate' challenge_id=challenge.id %}">시작하기</a>
                {% endif %}
            </div>
        </div>
    </div>

  </div>
{% endblock %}

{% block mobile-scripts%}
  <script src={% static "js/challenge.js"%}></script>
{% endblock %}

