{% extends 'base.html' %}
{% load static %}
{% block title %}
  findId
{% endblock title %}
{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static "css/participate.css"%}">
{% endblock extrahead %}
{% block content%}
  <div class="container-mobile">
    <div class="title">
      <p>{{user}}님의 릴렌지 활동이</p>
      <p>시작되었습니다!</p>
    </div>
    <div class="image-box">
      <img src="{% static "images/welcome-box.png" %}" alt=".">
    </div>
    <div class="info-middle-div">
      <p>오늘부터
        {{user}}님을 위한</p>
      <p>스트레스 해소 시간을 가져보아요!</p>
    </div>
    <div class="button-div">
      <a href="http://">커뮤니티 구경하기</a>
    </div>
  </div>
{% endblock %}

{% block scripts%}
  <script src={% static "js/participate.js"%}></script>
{% endblock scripts%}