* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* profile-unset */
#profile-unset {
  width: 100%;
  height: calc(100vh - 11.3em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile-unset .signin-complete {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 145.02%;
  text-align: center;
  color: #71a1ff;
}

#profile-unset > .welcome-box {
  position: relative;
  height: 25vh;
  width: 80%;
  text-align: center;
  margin-bottom: 40px;
}

#profile-unset > .welcome-box > img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  #profile-unset > .welcome-box > img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

#profile-unset > .wel-message {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 40px;
}

#profile-unset > .user-button {
  width: 230px;
  height: 50px;
  padding: 15px 15px;
  border-radius: 9999px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.05em;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

#profile-unset > #profile_setting {
  margin-top: 40px;
  color: #ffffff;
  background-color: #71a1ff;
}

#profile-unset > #log_out {
  margin-top: 15px;
  color: #ffffff;
  background-color: #e7e7e7;
}

/* profile-set(real main-page) */

#profile-set {
  /* 배경 페이지 스타일 */
  width: 100%;
  background-color: #d0e0ff;
}

.page-wrapper {
  margin-top: 100px;
  padding-top: 270px;
  padding-bottom: 1000px;
  max-width: 700px;
  margin: 0 auto;
}

.profile-section {
  /* 프로필 섹션 스타일 */
  display: flex;
  position: absolute;
  top: 50px;
  width: 100%;
  padding: 5%;
  height: 180px;
}


.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* 조정 가능 */
}

.profile-circle {
  width: 100px; /* 조정 가능 */
  height: 100px; /* 조정 가능 */
  border-radius: 50%;
  border: 2px solid #71a1ff;
  background-color: #fff; /* 배경색 조정 가능 */
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.profile-circle div {
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent center/cover;
}

.back-hair {
  /* 머리 스타일의 CSS 속성 */
  z-index: 11;
}

.face {
  /* 얼굴 스타일의 CSS 속성 */
  z-index: 12;
}

.front-hair {
  /* 앞 머리 스타일의 CSS 속성 */
  z-index: 14;
}

.eyebrows {
  /* 눈썹 스타일의 CSS 속성 */
  z-index: 13;
}

.eyes {
  /* 눈 스타일의 CSS 속성 */
  z-index: 13;
}

.nose {
  /* 코 스타일의 CSS 속성 */
  z-index: 13;
}

.mouth {
  /* 입 스타일의 CSS 속성 */
  z-index: 13;
}

.makeup {
  /* 볼터치 스타일의 CSS 속성 */
  z-index: 14;
}

.clothes {
  /* 옷 스타일의 CSS 속성 */
  z-index: 15;
}

.acc {
  /* 악세사리 스타일의 CSS 속성 */
  z-index: 15;
}

#profile-set #under-page .profile-section .bubble {
  /* 버블 스타일 */
}

#profile-set #under-page .profile-section .badge-section {
  /* 배지 섹션 스타일 */
}

#top-page {
  position: sticky;
  top: 20px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px -21px 24px #9abcff;
  border-radius: 38px 38px 0px 0px;
  z-index: 8;
}

.top-page-content {
  /* 상단 페이지 컨텐츠 스타일 */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-top: 27px;
  z-index: 10;

}

#profile-set #top-page .header-message {
  display: flex;
  width: 82%;
  height: 72px;
  border-radius: 20px;
  padding: 20px 25px;
  background: #d0e0ff;
  align-items: center;
  line-height: 110%;
}

.header-message > img {
  width: 32px;
  height: 32px;
  margin: 0 20px 7px 0;
}

.header-message > span {
  font-size: 14px;
}


#profile-set #top-page .relenge-section {
  /* 릴렌지 섹션 스타일 */
  width: 100%;
  margin: 20px 0;
  overflow-x: auto;
}

#profile-set #top-page .relenge-section .tag-list {
  /* 태그 리스트 스타일 */
  padding-left: 10%;
  list-style: none;
  overflow-x: scroll;
  margin-bottom: 40px;
  white-space: nowrap;
}

#profile-set #top-page .relenge-section .tag-list::-webkit-scrollbar {
  display: none;
}

#profile-set #top-page .relenge-section .tag-list > li {
    display: flex;
  height: 22px;
  padding: 4px 14px;
  justify-content: center;
  align-items: center;
  gap: -1px;
  flex-shrink: 0;
}

.relenge-section > .relenge-list-container {
  width: 100%;
  overflow: auto;
  position: relative;
}

.relenge-list-container  .relenge-list {
  /* 릴렌지 리스트 스타일 */
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

#profile-set #top-page .relenge-section .relenge-list::-webkit-scrollbar {
  display: none;
}

.relenge-list li {
  flex: 0 0 80%;
  margin: 0 10% 0 10%;
  transform: scale(0.8);
  opacity: 0.5;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  width: 160px;
  height: 300px;
  color: #5F5F5F;
  background-color: #fff;
  border: 2px solid #9abcff;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  align-items: center;
}

.relenge-list li.active {
  transform: scale(1);
  opacity: 1;
}

#profile-set #top-page .report-section {
  /* 보고서 섹션 스타일 */
}

#profile-set #top-page .report-section .report-header {
  /* 보고서 헤더 스타일 */
}

#profile-set #top-page .report-section .report-header .report-title {
  /* 보고서 제목 스타일 */
}

#profile-set #top-page .report-section .report-header .weekly-monthly {
  /* 주간/월간 스타일 */
}

#profile-set #top-page .report-section .report-summary {
  /* 보고서 요약 스타일 */
}

#profile-set #top-page .report-section .report-summary .summary-block {
  /* 요약 블록 스타일 */
}

#profile-set #top-page .report-section .report-summary .summary-detail-1 {
  /* 요약 세부내용 1 스타일 */
}

#profile-set #top-page .report-section .report-summary .summary-detail-2 {
  /* 요약 세부내용 2 스타일 */
}

#profile-set #top-page .report-section .relanz-magazine {
  /* 릴렌즈 매거진 스타일 */
}
