* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* profile-unset */
#profile-unset {
  width: 100%;
  height: calc(100vh - 11.3em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile-unset .signin-complete {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 145.02%;
  text-align: center;
  color: #71a1ff;
}

#profile-unset > .welcome-box {
  position: relative;
  height: 25vh;
  width: 80%;
  text-align: center;
  margin-bottom: 40px;
}

#profile-unset > .welcome-box > img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  #profile-unset > .welcome-box > img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

#profile-unset > .wel-message {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 40px;
}

#profile-unset > .user-button {
  width: 230px;
  height: 50px;
  padding: 15px 15px;
  border-radius: 9999px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.05em;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

#profile-unset > #profile_setting {
  margin-top: 40px;
  color: #ffffff;
  background-color: #71a1ff;
}

#profile-unset > #log_out {
  margin-top: 15px;
  color: #ffffff;
  background-color: #e7e7e7;
}

/* profile-set(real main-page) */

#profile-set {
  /* 배경 페이지 스타일 */
  width: 100%;
  background-color: #d0e0ff;
}

.page-wrapper {
  position: relative;
  margin-top: 100px;
  padding-top: 250px;
  margin: 0 auto;
}

.profile-section {
  /* 프로필 섹션 스타일 */
  display: flex;
  position: absolute;
  top: 55px;
  width: 100%;
  padding: 5% 7%;
  height: 180px;
}

.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* 조정 가능 */
}

.profile-circle {
  width: 104px; /* 조정 가능 */
  height: 104px; /* 조정 가능 */
  border-radius: 50%;
  border: 2px solid #71a1ff;
  background-color: #fff; /* 배경색 조정 가능 */
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.profile-circle div {
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent center/cover;
}

.back-hair {
  /* 머리 스타일의 CSS 속성 */
  z-index: 11;
}

.face {
  /* 얼굴 스타일의 CSS 속성 */
  z-index: 12;
}

.front-hair {
  /* 앞 머리 스타일의 CSS 속성 */
  z-index: 14;
}

.eyebrows {
  /* 눈썹 스타일의 CSS 속성 */
  z-index: 13;
}

.eyes {
  /* 눈 스타일의 CSS 속성 */
  z-index: 13;
}

.nose {
  /* 코 스타일의 CSS 속성 */
  z-index: 13;
}

.mouth {
  /* 입 스타일의 CSS 속성 */
  z-index: 13;
}

.makeup {
  /* 볼터치 스타일의 CSS 속성 */
  z-index: 14;
}

.clothes {
  /* 옷 스타일의 CSS 속성 */
  z-index: 15;
}

.acc {
  /* 악세사리 스타일의 CSS 속성 */
  z-index: 15;
}


.score-section {
  /* 배지 섹션 스타일 */
}

/* 오늘의 한마디 */
.bubble {
  position: relative;
  left: -20px;
  top: -25px;
  height: 50px;
  z-index: 20;
  cursor: pointer;
}

.bubble .triangle {
  position: absolute;
  width: 20;
  left: 0;
  bottom: 0;
  z-index: 21;
}

.bubble .circle {
  position: absolute;
  display: flex;
  left: 5.8px;
  bottom: 9.8px;
  width: 256px;
  height: 52px;
  background-color: #71a1ff;
  border-radius: 33px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: center bottom;
  transition: transform 0.3s;
}

.bubble .hidden-message {
  position: absolute;
  display: none;
  left: 5.8px;
  bottom: 9.8px;
  width: 256px;
  height: 52px;
  border-radius: 33px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.bubble .hidden-message > p {
  text-shadow: 3px 3px rgba(0, 0, 0, 0.25);
}

.bubble .hidden-message::selection {
  color: #fff;
}

.bubble.clicked .triangle {
  animation: blinkTriangle 0.35s;
}

@keyframes blinkTriangle {
  0%,
  100% {
    opacity: 1;
  }
  10%,
  90% {
    opacity: 0.1;
  }
  50% {
    opacity: 0;
  }
}

.bubble.unclicked .triangle {
  animation: blinkTriangleUnclicked 0.35s;
}

@keyframes blinkTriangleUnclicked {
  0%,
  100% {
    opacity: 1;
  }
  10%,
  90% {
    opacity: 0.1;
  }
  50% {
    opacity: 0;
  }
}

.bubble.clicked .hidden-message {
  animation: blinkMessage 1s;
}

@keyframes blinkMessage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bubble.clicked .circle {
  animation: rotateCircle 0.3s linear;
  transform-style: preserve-3d;
  transform-origin: center;
}

@keyframes rotateCircle {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
  }
}

.bubble.unclicked .circle {
  animation: rotateCircleUnclicked 0.3s linear;
  transform-style: preserve-3d;
  transform-origin: center;
}

@keyframes rotateCircleUnclicked {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
  }
}

.bubble.unclicked .circle > p {
  animation: blinkMessageUnclicked 0.6s linear;
  transform-style: preserve-3d;
  transform-origin: center;
}

@keyframes blinkMessageUnclicked {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.name {
  position: absolute;
  top: 187px;
  left: 54px;
  font-size: 14px;
  font-weight: 600;
}

.name > span {
  color: #71a1ff;

}


/* 컨텐츠 페이지 */
#top-page {
  position: sticky;
  top: 20px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px -21px 24px #9abcff;
  border-radius: 38px 38px 0px 0px;
  z-index: 8;
}

.top-page-content {
  /* 상단 페이지 컨텐츠 스타일 */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-top: 27px;
  z-index: 10;
}

#profile-set #top-page .header-message {
  display: flex;
  width: 82%;
  height: 72px;
  border-radius: 20px;
  padding: 20px 25px;
  background: #d0e0ff;
  align-items: center;
  line-height: 110%;
}

.header-message > img {
  width: 32px;
  height: 32px;
  margin: 0 20px 7px 0;
}

.header-message > span {
  font-size: 14px;
  font-weight: 600;
  color: #494949;
}

#profile-set #top-page .relenge-section {
  /* 릴렌지 섹션 스타일 */
  width: 100%;
  margin: 30px 0;
  overflow-x: auto;
}

#profile-set #top-page .relenge-section .tag-list {
  /* 태그 리스트 스타일 */
  padding-left: 10%;
  list-style: none;
  overflow-x: scroll;
  margin-bottom: 50px;
  white-space: nowrap;
}

#profile-set #top-page .relenge-section .tag-list::-webkit-scrollbar {
  display: none;
}

#profile-set #top-page .relenge-section .tag-list > li {
  display: inline-block;
  width: 70px;
  height: 25px;
  margin-right: 10px;
  padding: 3px;
  color: #5f5f5f;
  background-color: #fff;
  border: 2px solid #9abcff;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  align-items: center;
  gap: -1px;
  flex-shrink: 0;
}

.relenge-section > .relenge-list-container {
  width: 100%;
  overflow: auto;
  position: relative;
}

.relenge-list-container .relenge-list {
  /* 릴렌지 리스트 스타일 */
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

#profile-set #top-page .relenge-section .relenge-list::-webkit-scrollbar {
  display: none;
}

/* 릴렌지 카드 섹션 */
.relenge-list-container {
  position: relative;
  width: 100%;
}

.relenge-list {
  width: 100%;
  height: 380px;
  margin-bottom: 10px;
  overflow: hidden;
}

.relenge-list .relenge-card {
  position: absolute;
  width: 240px;
  height: 360px;
  text-align: justify;
  border: 2px solid #9abcff;
  border-radius: 25px;
  transition: 0.5s;
  left: calc(50% - 110px);
  top: 0;
  background-color: #fff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.relenge-card > .image-section {
  width: 100%;
  height: 65%;
  background-color: #f2f2f2;
}

.relenge-card > .info-section {
  position: relative;
  width: 100%;
  height: 35%;
  background-color: #fff;
}

.info-section > .sticker {
  position: absolute;
  width: 75px;
  height: 20px;
  top: -8px;
  left: 10px;
  color: #9abcff;
  border: 1px solid #9abcff;
  border-radius: 15px;
  padding: 2px;
  font-size: 8px;
  font-weight: 500;
  background-color: #fff;
  text-align: center;
}

.info-section > h2 {
  position: absolute;
  top: 25px;
  left: 17px;
  width: 180px;
  height: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #5f5f5f;
}

.info-section > img {
  position: absolute;
  bottom: 26px;
  left: 23px;
  font-size: 8px;
}

.info-section > span {
  position: absolute;
  bottom: 26px;
  left: 43px;
  font-size: 8px;
  color: #626262;
}

.info-section > a {
  position: absolute;
  right: 20px;
  bottom: 23px;
  width: 60px;
  height: 24px;
  color: #fff;
  background-color: #9abcff;
  font-size: 10px;
  font-weight: 600;
  border-radius: 30px;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  box-shadow:  0 2px 3px 0 rgba(0, 0, 0, 0.25);
}

.info-section > a {
  color: #fff;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #e7e7e7;
  margin: 0 3px;
  cursor: pointer;
}

.dot.active {
  background-color: #9abcff;
}

.carousel-arrows {
  position: absolute;
  top: 35%;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.arrow {
  font-size: 24px;
  cursor: pointer;
}

#profile-set #top-page .report-section {
  /* 보고서 섹션 스타일 */
}

#profile-set #top-page .report-section .report-header {
  /* 보고서 헤더 스타일 */
}

#profile-set #top-page .report-section .report-header .report-title {
  /* 보고서 제목 스타일 */
}

#profile-set #top-page .report-section .report-header .weekly-monthly {
  /* 주간/월간 스타일 */
}

#profile-set #top-page .report-section .report-summary {
  /* 보고서 요약 스타일 */
}

#profile-set #top-page .report-section .report-summary .summary-block {
  /* 요약 블록 스타일 */
}

#profile-set #top-page .report-section .report-summary .summary-detail-1 {
  /* 요약 세부내용 1 스타일 */
}

#profile-set #top-page .report-section .report-summary .summary-detail-2 {
  /* 요약 세부내용 2 스타일 */
}

#profile-set #top-page .report-section .relanz-magazine {
  /* 릴렌즈 매거진 스타일 */
}
