* {
margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* profile-unset */
#profile-unset {
  width: 100%;
  height: calc(100vh - 11.3em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile-unset .signin-complete {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 145.02%;
  text-align: center;
  color: #71a1ff;
}

#profile-unset > .welcome-box {
  position: relative;
  height: 25vh;
  width: 80%;
  text-align: center;
  margin-bottom: 40px;
}

#profile-unset > .welcome-box > img {
  height: 100%;
  object-fit: contain;
}

@media (min-height: 1600px) {
  #profile-unset > .welcome-box > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

#profile-unset > .wel-message {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 40px;
}

#profile-unset > .user-button {
  width: 230px;
  height: 50px;
  padding: 15px 15px;
  border-radius: 9999px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.05em;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

#profile-unset > #profile_setting {
  margin-top: 40px;
  color: #ffffff;
  background-color: #71a1ff;
}

/* profile-set(real main-page) */

#profile-set {
  /* 배경 페이지 스타일 */
  width: 100%;
  background-color: #d0e0ff;
}

.page-wrapper {
  position: relative;
  margin-top: 100px;
  padding-top: 250px;
  margin: 0 auto;
}

#today_date {
  position: absolute;
  top: 32px;
  left: calc(7% + 104px);
  font-size: 14px;
  font-weight: 500;
  color: #4c89ff;
}

.profile-section {
  /* 프로필 섹션 스타일 */
  display: flex;
  position: absolute;
  top: 70px;
  width: 100%;
  padding: 5% 7%;
  height: 180px;
}

.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* 조정 가능 */
}

.profile-circle {
  width: 104px; /* 조정 가능 */
  height: 104px; /* 조정 가능 */
  border-radius: 50%;
  border: 2px solid #71a1ff;
  background-color: #fff; /* 배경색 조정 가능 */
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.profile-circle div {
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent center/cover;
}

.back-hair {
  /* 머리 스타일의 CSS 속성 */
  z-index: 11;
}

.face {
  /* 얼굴 스타일의 CSS 속성 */
  z-index: 12;
}

.front-hair {
  /* 앞 머리 스타일의 CSS 속성 */
  z-index: 14;
}

.eyebrows {
  /* 눈썹 스타일의 CSS 속성 */
  z-index: 13;
}

.eyes {
  /* 눈 스타일의 CSS 속성 */
  z-index: 13;
}

.nose {
  /* 코 스타일의 CSS 속성 */
  z-index: 13;
}

.mouth {
  /* 입 스타일의 CSS 속성 */
  z-index: 13;
}

.makeup {
  /* 볼터치 스타일의 CSS 속성 */
  z-index: 14;
}

.clothes {
  /* 옷 스타일의 CSS 속성 */
  z-index: 15;
}

.acc {
  /* 악세사리 스타일의 CSS 속성 */
  z-index: 15;
}

/* 오늘의 한마디 */
.bubble {
  position: relative;
  left: -20px;
  top: -25px;
  height: 50px;
  z-index: 20;
  cursor: pointer;
}

.bubble .triangle {
  position: absolute;
  width: 20;
  left: 0;
  bottom: 0;
  z-index: 21;
}

.bubble > .circle {
  position: absolute;
  display: flex;
  left: 5.5px;
  bottom: 9.5px;
  width: 256px;
  height: 56px;
  background-color: #71a1ff;
  border-radius: 33px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: center bottom;
  transition: transform 0.3s;
}

.bubble .circle > p {
  padding: 10px;
  text-align: center;
}

.bubble .hidden-message {
  position: absolute;
  display: none;
  left: 5.8px;
  bottom: 10px;
  width: 256px;
  height: 52px;
  border-radius: 33px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.bubble .hidden-message > p {
  padding: 0 10px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.25);
}

.bubble .hidden-message::selection {
  color: #fff;
}

.bubble.clicked .triangle {
  animation: blinkTriangle 0.35s;
}

@keyframes blinkTriangle {
  0%,
  100% {
    opacity: 1;
  }
  10%,
  90% {
    opacity: 0.1;
  }
  50% {
    opacity: 0;
  }
}

.bubble.unclicked .triangle {
  animation: blinkTriangleUnclicked 0.35s;
}

@keyframes blinkTriangleUnclicked {
  0%,
  100% {
    opacity: 1;
  }
  10%,
  90% {
    opacity: 0.1;
  }
  50% {
    opacity: 0;
  }
}

.bubble.clicked .hidden-message {
  animation: blinkMessage 1s;
}

@keyframes blinkMessage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bubble.clicked .circle {
  animation: rotateCircle 0.3s linear;
  transform-style: preserve-3d;
  transform-origin: center;
}

@keyframes rotateCircle {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
  }
}

.bubble.unclicked .circle {
  animation: rotateCircleUnclicked 0.3s linear;
  transform-style: preserve-3d;
  transform-origin: center;
}

@keyframes rotateCircleUnclicked {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
  }
}

.bubble.unclicked .circle > p {
  animation: blinkMessageUnclicked 0.6s linear;
  transform-style: preserve-3d;
  transform-origin: center;
}

@keyframes blinkMessageUnclicked {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.name {
  position: absolute;
  top: 200px;
  left: 60px;
  font-size: 14px;
  font-weight: 600;
}

.name > span {
  color: #71a1ff;
}

.score-section {
  display: flex;
  position: absolute;
  top: 130px;
  left: 145px;
  width: 230px;
  height: 62px;
  background-color: #fff;
  border: 1px solid #71a1ff;
  border-radius: 15px;
  padding: 10px;
}

.score-section .score-icon {
  position: relative;
  width: 65px;
  height: 40px;
  border: 2px solid #71a1ff;
  border-radius: 20px;
  padding: 5px 0;
  background-color: #9abcff;
  justify-content: center;
  text-align: center;
  z-index: 50;
}

.score-icon > img {
  position: absolute;
  top: 5px;
  left: 2px;
  width: 24px;
  height: 24px;
}

.score-icon > .rank {
  position: absolute;
  top: 11px;
  left: 10.5px;
  font-size: 12px;
  font-weight: 600;
  color: #71a1ff;
}

.score-icon > .level-text {
  position: absolute;
  top: 11px;
  left: 30px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
}

.score-section > span {
  position: relative;
  top: -2px;
  margin-left: 5px;
  color: #71a1ff;
  font-size: 16px;
  font-weight: 600;
}

.score-section > .score-graph {
  position: absolute;
  top: 25px;
  left: 55px;
  width: 160px;
  height: 24px;
  padding: 3px 0;
  z-index: 49;
}

.score-graph > .goal-score-bar {
  position: relative;
  width: 160px;
  height: 20px;
  background-color: #71a1ff;
  border-radius: 16px;
}

.score-graph > .current-score-bar {
  position: relative;
  top: -17.2px;
  height: 14.5px;
  background-color: #9abcff;
  border-radius: 16px;
  border: 1px solid #fff;
  padding: 1px;
  transition: width 1s ease-in-out;
}

.score-graph > .current-score-bar > span {
  position: absolute;
  right: 4px;
  top: -1px;
  color: #fff;
  font-size: 7px;
}

/* 컨텐츠 페이지 */
#top-page {
  position: sticky;
  top: 20px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px -21px 24px #9abcff;
  border-radius: 38px 38px 0px 0px;
  padding-bottom: 88px;
  z-index: 8;
}

.top-page-content {
  /* 상단 페이지 컨텐츠 스타일 */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 27px 0 30px 0;
  z-index: 10;
}

#profile-set #top-page .header-message {
  display: flex;
  width: 82%;
  height: 72px;
  border-radius: 20px;
  padding: 20px 25px;
  background: #d0e0ff;
  align-items: center;
  line-height: 110%;
}

.header-message > img {
  width: 32px;
  height: 32px;
  margin: 0 20px 7px 0;
}

.header-message > span {
  font-size: 14px;
  font-weight: 600;
  color: #494949;
}

#profile-set #top-page .relenge-section {
  /* 릴렌지 섹션 스타일 */
  width: 100%;
  margin: 30px 0;
  overflow-x: auto;
  height: auto;
}

#profile-set #top-page .relenge-section .tag-list {
  /* 태그 리스트 스타일 */
  padding-left: 10%;
  list-style: none;
  overflow-x: scroll;
  margin-bottom: 50px;
  white-space: nowrap;
}

#profile-set #top-page .relenge-section .tag-list::-webkit-scrollbar {
  display: none;
}

#profile-set #top-page .relenge-section .tag-list > li {
  display: inline-block;
  width: 70px;
  height: 25px;
  margin-right: 10px;
  padding: 3px;
  color: #5f5f5f;
  background-color: #fff;
  border: 1px solid #9abcff;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 00;
  text-align: center;
  align-items: center;
  gap: -1px;
  flex-shrink: 0;
  cursor: pointer;
}

#profile-set #top-page .relenge-section .tag-list > li.selected {
  background-color: #9abcff;
  color: #fff;
}

.relenge-section > .relenge-list-container {
  width: 100%;
  overflow: auto;
  position: relative;
}

.relenge-list-container .relenge-list {
  /* 릴렌지 리스트 스타일 */
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

#profile-set #top-page .relenge-section .relenge-list::-webkit-scrollbar {
  display: none;
}

/* 릴렌지 카드 섹션 */
.relenge-list-container {
  position: relative;
  width: 100%;
}

.relenge-list {
  display: flex;
  width: 100%;
  height: 380px;
  margin-bottom: 10px;
  overflow: hidden;
}

.relenge-list .relenge-card {
  position: absolute;
  width: 240px;
  height: 360px;
  text-align: justify;
  border: 2px solid #9abcff;
  border-radius: 25px;
  transition: 0.5s;
  left: calc(50% - 120px);
  top: 0;
  background-color: #fff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.relenge-card > .image-section {
  width: 100%;
  height: 65%;
}

.relenge-card > .image-section > img {
  width: 100%;
  object-fit: cover;
}

.relenge-card > .info-section {
  position: relative;
  width: 100%;
  height: 35%;
  background-color: #fff;
}

.info-section > .sticker {
  position: absolute;
  width: 75px;
  height: 20px;
  top: -8px;
  left: 10px;
  color: #9abcff;
  border: 1px solid #9abcff;
  border-radius: 15px;
  padding: 3px 0;
  font-size: 8px;
  font-weight: 500;
  background-color: #fff;
  text-align: center;
}

.info-section > h2 {
  position: absolute;
  top: 25px;
  left: 17px;
  width: 180px;
  height: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #5f5f5f;
}

.info-section > img {
  position: absolute;
  bottom: 26px;
  left: 23px;
  font-size: 8px;
}

.info-section > span {
  position: absolute;
  bottom: 26px;
  left: 43px;
  font-size: 8px;
  color: #626262;
}

.info-section > a {
  position: absolute;
  right: 20px;
  bottom: 23px;
  width: 60px;
  height: 24px;
  color: #fff;
  background-color: #9abcff;
  font-size: 10px;
  font-weight: 600;
  border-radius: 30px;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.info-section > a {
  color: #fff;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #e7e7e7;
  margin: 0 3px;
  cursor: pointer;
}

.dot.active {
  background-color: #9abcff;
}

.carousel-arrows {
  position: absolute;
  top: 35%;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.arrow {
  font-size: 24px;
  cursor: pointer;
}

#profile-set #top-page .report-section {
  /* 보고서 섹션 스타일 */
  display: flex;
  flex-direction: column;
  width: 100%;
}

#profile-set #top-page .report-section .report-header {
  /* 보고서 헤더 스타일 */
  display: flex;
  width: 100%;
  padding: 0 9%;
  justify-content: space-between;
}

#profile-set #top-page .report-section .report-header .report-title {
  /* 보고서 제목 스타일 */
  width: 180px;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  color: #494949;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 0 0 49px;
  line-height: 130%;
}

#profile-set #top-page .report-section .report-header .weekly-monthly {
  /* 주간/월간 스타일 */
  position: relative;
  width: 140px;
  height: 50px;
  border-radius: 24px;
  border: 2px solid #9abcff;
  padding: 5px 0;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.weekly-option,
.monthly-option {
  position: absolute;
  width: 62px;
  height: 37px;
  padding-top: 10px;
  color: #5f5f5f;
  cursor: pointer;
  z-index: 20;
  transition: color 0.3s;
}

.weekly-monthly > .option-active {
  color: #fff;
  cursor: default;
}

.weekly-monthly > .slide-button {
  position: absolute;
  width: 62px;
  height: 37px;
  border-radius: 24px;
  background-color: #9abcff;
  z-index: 19;
  transition: left 0.3s, right 0.3s;
}

.weekly-option {
  left: 6px;
}

.monthly-option {
  right: 6px;
}

.weekly-option.option-active ~ .slide-button {
  left: 6px;
  right: unset;
}

.monthly-option.option-active ~ .slide-button {
  right: 6px;
  left: unset;
}

#profile-set #top-page .report-section .report-summary {
  /* 보고서 요약 스타일 */
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 9% 40px 9%;
}

#profile-set #top-page .report-section .report-summary .summary-block {
  /* 요약 블록 스타일 */
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #e7e7e7;
  padding: 15px 18px;
}

.summary-block > span {
  font-size: 20px;
  padding-top: 5px;
  margin-right: 15px;
}

.summary-block > p {
  color: #5f5f5f;
  font-size: 14px;
}

.report-summary > .summary-detail-1 {
  /* 요약 세부내용 1 스타일 */
  width: 100%;
  height: 350px;
  margin-top: 38px;
  border: 1px solid #9abcff;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
}
#profile-set #top-page .report-section .report-summary .summary-detail-1 {
  /* 요약 세부내용 1 스타일 */
  position: relative;
  padding: 20px;
}

.summary-detail-1 > .comment-1 {
  position: absolute;
  top: 20px;
  left: 22px;
  color: #5f5f5f;
  font-size: 12px;
  font-weight: 600;
  text-align: start;
}

.summary-detail-1 > .comment-2 {
  position: absolute;
  top: 42px;
  left: 22px;
  color: #5f5f5f;
  font-size: 16px;
  font-weight: 600;
  text-align: start;
}

.summary-detail-1 > .comment-3 {
  position: absolute;
  display: flex;
  top: 70px;
  left: 22px;
  color: #5f5f5f;
  font-size: 12px;
  font-weight: 500;
  text-align: start;
}

.comment-3 > .user-result {
  position: relative;
  top: -9px;
  width: 90px;
  height: 30px;
  margin: 0 5px;
  border-radius: 18px;
  padding: 6px 3px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  background-color: #9abcff;
  color: #fff;
}

.summary-detail-1 > .result-graph {
  position: absolute;
  display: flex;
  top: 100px;
  left: 40px;
}

.result-graph > .label-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 96px;
  font-size: 14px;
  font-weight: 400;
  color: #7e7e7e;
  margin-top: 12px;
}

.result-graph > .start-line {
  width: 3px;
  height: 118px;
  border-radius: 2px;
  background-color: #71a1ff;
}

.result-graph > .line-graphs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 210px;
  height: 96px;
  margin-top: 12px;
}

.line-graphs > .line {
  display: flex;
  height: 24px;
}

.line-graphs > .line > div {
  height: 100%;
}

.line-graphs > .line > .first {
  background-color: #4c89ff;
}

.line-graphs > .line > .second {
  background-color: #9abcff;
}

.line-graphs > .line > .third {
  border-radius: 0 12px 12px 0;
  background-color: #6888c5;
}

.summary-detail-1 > .labels-info {
  position: absolute;
  top: 235px;
  left: 40px;
  display: flex;
  width: 260px;
  justify-content: space-between;
  color: #494949;
  font-size: 12px;
  font-weight: 500;
}

.summary-detail-1 > .labels-info > div {
  display: flex;
}

.summary-detail-1 > .labels-info > div > div {
  width: 15px;
  height: 15px;
}

.summary-detail-1 > .labels-info > .very > div {
  background-color: #4c89ff;
}

.summary-detail-1 > .labels-info > .some > div {
  background-color: #9abcff;
}

.summary-detail-1 > .labels-info > .not > div {
  background-color: #6888c5;
}

.summary-detail-1 > .graph-summary {
  position: absolute;
  top: 270px;
  left: 40px;
  width: 260px;
  height: 60px;
  border-radius: 15px;
  padding: 12px 32px;
  background-color: #d0e0ff;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: #5f5f5f;
  line-height: 145%;
}




.report-summary > .summary-detail-2 {
  /* 요약 세부내용 2 스타일 */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 38px;
  border: 2px solid #71a1ff;
  border-radius: 15px;
  padding: 20px 20px 0 20px;
}

.summary-detail-2 > .detail-explain {
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  margin-bottom: 10px;
}

.summary-detail-2 > .summary-detail {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.summary-detail-2 > .summary-detail > p {
  margin-bottom: 10px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: #71a1ff;
}

.summary-detail-2 > .summary-detail > .tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

.summary-detail > .tag-container > span {
  margin: 0 5px 5px 0;
  padding: 5px 12px;
  text-align:justify;
  font-size: 15px;
  color: #71a1ff;
  font-weight: 600;
  border: 1px solid #71a1ff;
  border-radius: 60px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.summary-detail > .tag-container > span > a {
  text-decoration: none;
  color: #71a1ff;
  font-size: 15px;
  font-weight: 600;
}

.summary-detail > .tag-container > span > a:visited {
  text-decoration: none;
  color: #71a1ff;
}

#profile-set #top-page .report-section .relanz-magazine {
  /* 릴렌즈 매거진 스타일 */
  width: 100%;
  height: 490px;
}

.relanz-magazine > .magazine-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.relanz-magazine > .magazine-wrapper > div {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.third-page > .indexing {
  left: 60px;
  background-color: #fff;
  z-index: 3;
}

.second-page > .indexing {
  left: 40px;
  background-color: #d0e0ff;
  z-index: 5;
}

.first-page > .indexing {
  left: 20px;
  background-color: #9abcff;
  padding: 8px;
  cursor: pointer;
  z-index: 6;
}

.relanz-magazine > .magazine-wrapper > .first-page {
  position: absolute;
  left: 0;
  top: 0;
}

.relanz-magazine > .magazine-wrapper > .first-page > .page-cover {
  position: relative;
  top: 38px;
  height: 433px;
  width: 100%;
  background-color: #9abcff;
  box-shadow: 0 -2px 11px 0 rgba(0, 0, 0, 0.25);
}

.magazine-wrapper > div > .indexing {
  position: absolute;
  top: 0;
  width: 172px;
  height: 38px;
  border: 3px solid #9abcff;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}


.first-page > .page-cover > img {
  position: absolute;
  top: 16px;
  width: 100%;
  object-fit: cover;
  z-index: 4;
}

.first-page > .page-cover > .magazine-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 240px;
  width: 100%;
  padding: 22px;
  z-index: 5;
  color: #fff;
}

.magazine-info > .magazine-sticker {
  width: 68px;
  height: 20px;
  background-color: #9abcff;
  border-radius: 10px;
  padding: 2px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 12px;
}

.magazine-info > a {
  text-decoration: none;
}

.magazine-info > a:hover {
  text-decoration: underline;
}

.magazine-info > a:visited {
  color: #fff;
}

.magazine-info > a > .magazine-title {
  font-size: 32px;
  font-weight: 600;
  text-align: left;
}

.magazine-info > a > .magazine-title > span {
  color: #d0e0ff;
}

.magazine-info > a > .magazine-subtitle {
  font-size: 20px;
  margin-bottom: 16px;
}

.magazine-info > .magazine-explain {
  font-size: 11px;
  margin-bottom: 20px;
}


.magazine-info > .buttons {
  display: flex;
}

.magazine-info > .buttons > img {
  width: 24px;
  margin-right: 15px;
  cursor: pointer;
}