* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* profile-unset */
#profile-unset {
  width: 100%;
  height: calc(100vh - 11.3em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile-unset .signin-complete {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 145.02%;
  text-align: center;
  color: #71a1ff;
}

#profile-unset > .welcome-box {
  position: relative;
  height: 25vh;
  width: 80%;
  text-align: center;
  margin-bottom: 20px;
}

#profile-unset > .welcome-box > img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

#profile-unset > .wel-message {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 40px;
}

#profile-unset > a {
  width: 230px;
  height: 50px;
  margin-top: 40px;
  padding: 15px 15px;
  border-radius: 9999px;
  background-color: #71a1ff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

/* profile-set(real main-page) */
#profile-set {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: #d0e0ff;
}

#profile-set #under-page {
  /* 뒷 페이지 스타일 */
  display: flex;
  width: 100%;
  height: 250px;
}

#profile-set #under-page .profile-section {
  /* 프로필 섹션 스타일 */
  display: flex;
  position: absolute;
  top: 50px;
  width: 100%;
  padding: 5%;
  height: 180px;
  border: 3px dotted #fff;
}

#profile-set #under-page .profile-section .profile-img {
  /* 프로필 이미지 스타일 */
}

#profile-set #under-page .profile-section .bubble {
  /* 버블 스타일 */
}

#profile-set #under-page .profile-section .badge-section {
  /* 배지 섹션 스타일 */
}

#profile-set #top-page {
  /* 상단 페이지 스타일 */
  
  width: 100%;
  height: 200vh;
  background: #ffffff;
  box-shadow: 0px -20px 5px -1px rgba(154, 188, 255, 0.3);
  border-radius: 38px 38px 0px 0px;
  z-index: 3;
}

#profile-set #top-page .header-message {
  /* 헤더 메시지 스타일 */
}

#profile-set #top-page .relenge-section {
  /* 릴렌지 섹션 스타일 */
}

#profile-set #top-page .relenge-section .tag-list {
  /* 태그 리스트 스타일 */
}

#profile-set #top-page .relenge-section .relenge-list {
  /* 릴렌지 리스트 스타일 */
}

#profile-set #top-page .report-section {
  /* 보고서 섹션 스타일 */
}

#profile-set #top-page .report-section .report-header {
  /* 보고서 헤더 스타일 */
}

#profile-set #top-page .report-section .report-header .report-title {
  /* 보고서 제목 스타일 */
}

#profile-set #top-page .report-section .report-header .weekly-monthly {
  /* 주간/월간 스타일 */
}

#profile-set #top-page .report-section .report-summary {
  /* 보고서 요약 스타일 */
}

#profile-set #top-page .report-section .report-summary .summary-block {
  /* 요약 블록 스타일 */
}

#profile-set #top-page .report-section .report-summary .summary-detail-1 {
  /* 요약 세부내용 1 스타일 */
}

#profile-set #top-page .report-section .report-summary .summary-detail-2 {
  /* 요약 세부내용 2 스타일 */
}

#profile-set #top-page .report-section .relanz-magazine {
  /* 릴렌즈 매거진 스타일 */
}

/* not-authenticated */
#not-authenticated {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #9abcff;
}

#not-authenticated > .background-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-bottom: 30vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#not-authenticated > .background-section > .img-section {
  width: 80%;
  z-index: 2;
}

@media (max-height: 700px) {
  #not-authenticated > .background-section > .img-section {
    display: none;
  }
}

#not-authenticated > .background-section > .img-section > img {
  width: 100%;
  object-fit: cover;
}

#not-authenticated > .background-section > .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 63.02%
  );
  z-index: 3;
}

#not-authenticated > .text-section {
  position: absolute;
  width: 100%;
  padding: 2em;
  bottom: calc(100vh - 70%);
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1.375em;
  z-index: 4;
}

#not-authenticated > .sign-section {
  position: absolute;
  width: 100%;
  padding: 2em;
  bottom: calc(100vh - 80%);
  z-index: 4;
}

#not-authenticated > .sign-section > .sign-up {
  display: flex;
  width: 100%;
  padding: 2em 2em 0 2em;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#not-authenticated > .sign-section > .sign-up > .sign-up-button {
  width: 80%;
  height: 3em;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-section > .sign-up > .sign-up-button > span {
  color: #9abcff;
  text-align: center;
  font-size: 1em;
}

#not-authenticated > .sign-section > .sign-in {
  margin-top: 0.8em;
  text-align: center;
  color: #fff;

  font-size: 0.8em;
}

#not-authenticated > .sign-section > .sign-in > a:visited {
  text-decoration: none;
  color: #fff;
}
