@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.scrollable-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.scrollable-container > a {
  position: fixed;
  top: calc(100vh - 90px);
  height: 30px;
  margin-left: 40px;
  z-index: 80;
}

.scrollable-container > a > img {
  height: 100%;
  object-fit: cover;
}


.scrollable-item {
  width: 100%;
  height: 100vh;
  justify-content: center;
}

/* div1 */
#div1 > .background {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    360deg,
    #9abcff 0%,
    rgba(154, 188, 255, 0) 60.19%
  );
  font-family: "Cafe24Ssurround";
}

#div1 > .background > p {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.08em;
  color: #9abcff;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

#div1 > .background > img {
  width: 60%;
  object-fit: cover;
  margin: 0 0 50px 25px;
  mix-blend-mode: darken;
}

/* div2 */
#div2 > .background {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
  background: #9abcff;
}

#div2 > .background > p {
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}

#div2 > .background > img {
  width: 90%;
  object-fit: cover;
  mix-blend-mode: overlay;
}


/* div3 */

#div3 > .background {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
  background: #9abcff;
}

#div3 > .background > p {
  margin: 40px 0 30px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

#div3 > .background > img {
  margin: 20px 0 100px 20px;
  width: 50%;
  object-fit: cover;
  mix-blend-mode: overlay;
}

#div3 > .background > .word-define {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 314px;
  height: 62px;
  border: 4px solid #71a1ff;
  border-radius: 999px;
  background: #fff;
  color: #71a1ff;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

/* div4 */
#div4 > .background {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
  background: #9abcff;
}

#div4 > .background > p {
  margin: 0 0 60px 0;
  text-align: left;
  line-height: 130%;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

#div4 > .background > img {
  margin-top: 20px;
  width: 90%;
  object-fit: cover;
  mix-blend-mode: overlay;
}
