{% extends 'base.html' %}
{% load static %}
{% block title %}
  Home | Start!
{% endblock title %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static "css/main/home.css"%}">
{% endblock extrahead %}

{% block content%}
    {% if user.is_authenticated %}
        <a href="{% url 'user:signout' %}">로그아웃</a>
        <h1>환영합니다! {{user.username}} 님</h1>
        {% if not user.nickname %}
        {% comment %} <a href="{% url 'user:nickname' %}">프로필 설정</a> {% endcomment %}
        {% else %}
        {% comment %} <a href="{% url 'user:accountInfo' user.id %}">프로필 보기</a> {% endcomment %}
        {% endif %}
  {% else %}
    <div id="not-authenticated">
      <div class="background-section">
        <div class="img-section">
          <img src="{% static "images/home-faces.svg" %}" alt="home-faces">
        </div>
        <div class="gradient">
          <p></p>
        </div>
      </div>
      <div class="text-section">
        <span>이젠 릴렌즈와 함께<br>당신의 스트레스 해소법을 찾아<br>스트레스 면역력을 키워봐요!</span>
      </div>
      <div class="sign-section">
        <div class="sign-up">
          <a class="sign-up-button" href="{% url 'user:signup' %}">
            <span>
              <u>새롭게 시작하기</u>
            </span>
          </a>
        </div>
        <div class="sign-in">
          <a href="{% url 'user:signin' %}">
            <span>
              <u>이미 계정이 있어요!(로그인하기)</u>
            </span>
          </a>
        </div>
      </div>
    </div>

  {% endif %}
{% endblock %}
