{% extends 'mobileBase.html' %}
{% load static %}
{% block mobile_title %}
  Home | Start!
{% endblock mobile_title %}

{% block mobile_extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static "css/main/home.css"%}">
{% endblock mobile_extrahead %}

{% block mobile_content%}
  {% if not user.nickname %}
    <div id="profile-unset">
      <p class="signin-complete">회원가입이 완료되었습니다!</p>
      <div class="welcome-box">
        <img src="{% static "images/welcome-box.png" %}" alt="welcome-img">
      </div>
      <p class="wel-message">이제 릴렌즈와<br>스트레스 해소법을 찾아보아요!</p>
      <a href="{% url 'user:content' %}" class="user-button" id="profile_setting">프로필 설정하기</a>
    </div>
  {% else %}
    <div id="profile-set">
      <div class="page-wrapper">
        <div id="today_date"></div>
        <div class="profile-section">

          <div class="profile-wrapper">
            <div class="profile-circle">
              <div class="back-hair"></div>
              <div class="face"></div>
              <div class="front-hair"></div>
              <div class="eyebrows"></div>
              <div class="eyes"></div>
              <div class="nose"></div>
              <div class="mouth"></div>
              <div class="makeup"></div>
              <div class="clothes"></div>
              <div class="acc"></div>
            </div>
          </div>
          <div class="bubble">
            <div class="triangle"><img src="{%static 'icons/triangleforbubble.png'%}" alt=""></div>
            <div class="circle"><p>{{ user.nickname }}님에게 도착한 오늘의 한마디&#128172;</p></div>
            <div class="hidden-message"><p>오늘도 화이팅!</p></div>
          </div>
        </div>
        <div class="name">
          <span>{{ user.nickname }}</span>
          님
        </div>
        <div class="score-section">
          <div class="score-icon">
            <img src="{% static "icons/star40.png"%}" alt="star">
            <span class="rank">R</span>
            <span class="level-text">Lv.
              <span id="user_level">1</span>
            </span>
          </div>
          <span>score</span>
          <div class="score-graph">
            <div class="goal-score-bar"></div>
            <div class="current-score-bar">
              <span></span>
            </div>
          </div>
        </div>

        <div id="top-page">
          <div class="top-page-content">
            <div class="header-message">
              <img src="{% static "icons/dot.png" %}" alt="">
              <span>{{ user.nickname }}님께 추천하는 관리 활동입니다</br>마음에 드는 릴렌지를 시도해보아요!</span>
            </div>
            <div class="relenge-section">
              <ul class="tag-list">
                <li class="tag-filter" data-tag="전체">전체</li>
                {% for item in tag_lists %}
                  <li class="tag-filter" data-tag="{{ item }}">{{item}}</li>
                {% endfor %}
              </ul>
              <div class="relenge-list-container">
                <ul class="relenge-list">
                  {% comment %} 임시 {% endcomment %}
                  {% if combined_data %}
                  {% for challenge, participant in combined_data %}
                  <li>
                    <div class="relenge-card">
                      <div class="image-section">
                        <img src="{% static challenge.challenge.image %%}" alt="{{ challenge.title }}">
                      </div>
                      <div class="info-section">
                        <div class="sticker">공식 릴렌지 활동</div>
                        <h2>"{{ challenge.challenge.title }}"</h2>
                        <img src="{% static "icons/ppl.png" %}" alt="icon"/>
                        <span>{{ participant }}명이 참여 중인 릴렌지</span>
                        <a href="{% url 'challenge:challenge' challenge_id=challenge.id %}">참여하기</a>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                  {% else %}
                    {% for challenge in challenges %}
                      <li>
                        <div class="relenge-card">
                          <div class="image-section">
                            <img src="{% static challenge.challenge.image %}" alt="{{ challenge.title }}">
                          </div>
                          <div class="info-section">
                            <div class="sticker">공식 릴렌지 활동</div>
                            <h2>{{ challenge.challenge.title }}</h2>
                            {% comment %} <img src="{% static "icons/ppl.png" %}" alt="icon"/>
                            <span>n명이 참여 중인 릴렌지</span> {% endcomment %}
                            <a href="{% url 'challenge:challenge' challenge_id=challenge.id %}">참여하기</a>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                  {% endif %}
                </ul>
                <div class="carousel-dots">
                  <span class="dot active"></span>
                  {% if combined_data %}
                    {% for challenge in combined_data %}
                      {% if forloop.counter0 < combined_data|length|add:"-1" %}
                        <span class="dot"></span>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    {% for challenge in challenges %}
                      {% if forloop.counter0 < challenges|length|add:"-1" %}
                        <span class="dot"></span>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
                <div class="carousel-arrows">
                  <span class="arrow arrow-left"><img src="{% static "icons/leftarrow.png" %}" alt="left-arrow"></span>
                  <span class="arrow arrow-right"><img src="{% static "icons/rightarrow.png" %}" alt="right-arrow"></span>
                </div>
              </div>
            </div>
            <div class="report-section">
              <div class="report-header">
                <div class="report-title" style="background-image: url('{% static "icons/report-title.png" %}')">
                  {{user.nickname}}님의<br>스트레스 관리 리포트
                </div>
                <div class="weekly-monthly">
                  <div class="weekly-option option-active">주간</div>
                  <div class="monthly-option">월간</div>
                  <div class="slide-button"></div>
                </div>
              </div>
              <div class="report-summary">
                <div class="summary-block">
                  <span>&#128079;</span>
                  <p>{{user.nickname}} 님이 참여하신 릴렌지를 바탕으로 정리한 {{user.nickname}} 님만의 건강한 스트레스 해소 활동입니다</p>
                </div>
                
                <div class="summary-detail-1">
                  <div class="comment-1">
                    스트레스 취약성 테스트 문항 {{ user.survey_result_count }}개를 선택하신
                  </div>
                  <div class="comment-2">
                    {{ user.nickname }}님!
                  </div>
                  <div class="comment-3">
                    {{ user.nickname }}님은 스트레스에 
                    <div class="user-result" id="user-result">
                      {{ user_survey_result }}
                    </div>
                    편 입니다
                  </div>
                  <div class="result-graph">
                    <div class="label-container">
                      <span>전체</span>
                      {% if user.sex == "female" %}
                        <span>여성</span>
                      {% else %}
                        <span>남성</span>
                      {% endif %}
                      <span>{{ age_group_start}}대</span>
                    </div>
                    <div class="start-line"></div>
                    <div class="line-graphs">
                      <div class="entire line">
                        <div class="first"></div>
                        <div class="second"></div>
                        <div class="third"></div>
                      </div>
                      <div class="gender line">
                        <div class="first"></div>
                        <div class="second"></div>
                        <div class="third"></div>
                      </div>
                      <div class="age line">
                        <div class="first"></div>
                        <div class="second"></div>
                        <div class="third"></div>
                      </div>
                    </div>
                  </div>
                  <div class="labels-info">
                    <div class="very"><div class="square"></div>&nbsp; 매우 취약한</div>
                    <div class="some"><div class="square"></div>&nbsp; 다소 취약한</div>
                    <div class="not"><div class="square"></div>&nbsp; 취약하지 않은</div>
                  </div>
                  <div class="graph-summary">
                    {% if user.sex == 'female'%}
                    {{ age_group_start }}대 여성이 가진 스트레스 취약성에 비해 {{avg_result}}인 편이에요 
                    {% elif user.sex == 'male'%}
                    {{ age_group_start }}대 남성이 가진 스트레스 취약성에 비해 {{avg_result}}인 편이에요
                    {% endif %}
                  </div>

                </div>
                <div class="summary-detail-2">
                  <div class="detail-explain">
                    {{user.nickname}} 님의 릴렌지 참여를 바탕으로 분석한 결과입니다
                  </div>
                  <div id="mainly" class="summary-detail">
                    <p>{{user.nickname}} 님의 스트레스 활동은 주로</p>
                    <div class="tag-container">
                      {% if analysis_data %}
                        {% for item in analysis_data.analysis_user_tag %}
                          <span>{{item}}</span>
                        {% endfor %}
                      {% else %}
                        <span><a href="#top-page">릴렌지 참여하고 분석받기</a></span>
                      {% endif %}
                    </div>
                  </div>
                  <div id="mostly" class="summary-detail">
                    <p>{{user.nickname}} 님의 최애 릴렌지 활동은</p>
                    <div class="tag-container">
                      {% if analysis_data %}
                          <span>
                            <a href="{% url 'challenge:challenge' challenge_id=analysis_data.most_like_challenge.id %}">
                              {{analysis_data.most_like_challenge.title}}</span>
                            </a>
                      {% else %}
                        <span><a href="#top-page">릴렌지 참여하기</a></span>
                      {% endif %}
                    </div>
                  </div>
                  <div id="recommend" class="summary-detail">
                    <p>{{user.nickname}} 님께 추천하는 다음 릴렌지는</p>
                    <div class="tag-container">
                      {% if analysis_data %}
                        {% for item in analysis_data.analysis_titles %}
                          <span>
                            <a href="{% url 'challenge:challenge' challenge_id=item.id %}">
                              {{item.title}}
                            </a>
                          </span>
                        {% endfor %}
                      {% else %}
                        <span><a href="#top-page">릴렌지 참여하고 추천받기</a></span>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="relanz-magazine">
                <div class="magazine-wrapper">
                  <div class="third-page">
                    <div class="indexing"></div>
                  </div>
                  <div class="second-page">
                    <div class="indexing"></div>
                  </div>
                  <div class="first-page">
                    <div class="indexing">
                      릴렌즈 매거진 6월호
                    </div>
                    <div class="page-cover">
                      <img src="{% static "images/magazine-climbing.png" %}" alt="climbing-image">
                      <div class="magazine-info">
                        <div class="magazine-sticker">릴렌즈 픽</div>
                        <a href="https://economynewstv.com/%ED%81%B4%EB%9D%BC%EC%9D%B4%EB%B0%8D%EC%9D%98-%EC%A6%90%EA%B1%B0%EC%9B%80-%EC%8A%A4%ED%8A%B8%EB%A0%88%EC%8A%A4-%ED%95%B4%EC%86%8C%EC%99%80-%ED%96%89%EB%B3%B5%EA%B0%90%EC%9D%84-%EB%8A%90%EA%BB%B4/">
                          <div class="magazine-title"><span>클라이밍</span>의 즐거움:</div>
                          <div class="magazine-subtitle">스트레스 해소와 행복감을 느껴보세요</div>
                        </a>
                        <div class="magazine-explain">건강하고 재미있는 스트레스 해소 방법 없을까? 이왕이면 운동도 되었으면 좋겠어!<br>이런 당신을 위한 서울 주요 지역의 클라이밍 장소를 소개합니다.</div>
                        <div class="buttons">
                          <img src="{% static "icons/magazine-like.png"%}" alt="like">
                          <img src="{% static "icons/magazine-share.png"%}" alt="share">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  {% endif %}
{% endblock %}


{% block mobile-scripts %}
  <script>
    //tag dictionary
    const tagDict = {
      morning: "아침",
      afternoon: "점심",
      evening: "저녁",
      inside: "실내",
      outside: "실외",
      solo: "혼자",
      group : "여럿이",
      pay: "유료",
      free: "무료",
      static: "정적인",
      dynamic: "동적인"
    }

    const tagContainer = document.querySelector('.tag-container');
    const tags = tagContainer.querySelectorAll('span');

    tags.forEach(tag => {
      const tagKey = tag.textContent.trim();
      if (tagKey in tagDict) {
        tag.textContent = tagDict[tagKey];
      }
    });

    //캐릭터조합
    function renderProfileCombination(combinationData) {
      const backHairElement = document.querySelector(".back-hair");
      const frontHairElement = document.querySelector(".front-hair");
      const eyebrowsElement = document.querySelector(".eyebrows");
      const eyesElement = document.querySelector(".eyes");
      const noseElement = document.querySelector(".nose");
      const mouthElement = document.querySelector(".mouth");
      const cheekElement = document.querySelector(".makeup");
      const faceElement = document.querySelector(".face");
      const clothesElement = document.querySelector(".clothes");
      const accElement = document.querySelector(".acc");
    
      // 각 조합 요소의 숫자에 해당하는 이미지 경로 설정
      frontHairElement.style.backgroundImage = `url("{% static 'character/fronthair/fronthair' %}${combinationData[0]}.png")`;
      if (combinationData[1] > 0)
        backHairElement.style.backgroundImage = `url("{% static 'character/backhair/backhair' %}${combinationData[1]}.png")`;
      eyebrowsElement.style.backgroundImage = `url("{% static 'character/brows/brows' %}${combinationData[2]}.png")`;
      eyesElement.style.backgroundImage = `url("{% static 'character/eyes/eyes' %}${combinationData[3]}.png")`;
      noseElement.style.backgroundImage = `url("{% static 'character/nose/nose' %}${combinationData[4]}.png")`;
      mouthElement.style.backgroundImage = `url("{% static 'character/mouth/mouth' %}${combinationData[5]}.png")`;
      if (combinationData[6] > 0)
        cheekElement.style.backgroundImage = `url("{% static 'character/makeup/makeup' %}${combinationData[6]}.png")`;
      faceElement.style.backgroundImage = `url("{% static 'character/face.png' %}")`;
      clothesElement.style.backgroundImage = `url("{% static 'character/clothes/clothes' %}${combinationData[7]}.png")`;
      if (combinationData[8] > 0)
        accElement.style.backgroundImage = `url("{% static 'character/acc/acc' %}${combinationData[8]}.png")`;

    }

     // 조합 데이터를 적용하여 프로필 렌더링
    //console.log({{user.avatar}})
    renderProfileCombination("{{user.avatar}}");

    //오늘 날짜 불러오기
    const dateElement = document.getElementById('today_date');
    const options = { year: 'numeric', month: '2-digit', day: '2-digit', weekday: 'long' };
    const today = new Date();

    const formattedDate = today.toLocaleDateString('ko-KR', options);
    dateElement.innerText = formattedDate;

    //요일별 오늘의 한마디
    const dayOfWeek = today.getDay();
    const weeklyMessages = [
      "오늘 하루, 맛있는 음식을 먹으며 행복을 누려보아요!", 
      "늦었다고 생각할 때가 진짜 늦었습니다.",
      "나의 하루는 내가 만들어가요!", 
      "사람 관계에서 큰 기대는 금물!", 
      "어제의 한계를 오늘의 도전으로 바꿔봐요, 지금 당장 릴렌지!", 
      "도전은 당신을 더 강하게 만들어 줄거에요",
      "믿는 사람은 무엇이든지 할 수 있어요!"
    ];
    const hiddenMessageInnerText = document.querySelector(".hidden-message > p");
    hiddenMessageInnerText.innerText = weeklyMessages[dayOfWeek];

    //score graph
    const user_score = {{ user.score }};
    var userScore = user_score;
    var goalScore;
    var userLevel = "1";

    if (userScore <= 1000) {
      goalScore = 1000;
      userLevel = "1";
    } else if (userScore <= 5000) {
      goalScore = 4000;
      userScore -= 1000;
      userLevel = "2";
    } else if (userScore <= 10000) {
      goalScore = 5000;
      userScore -= 5000;
      userLevel = "3";
    } else if (userScore <= 20000) {
      goalScore = 10000;
      userScore -= 10000;
      userLevel = "4";
    } else {
      goalScore = 30000;
      userScore -= 20000
    }

    var userLevelSpan = document.getElementById("user_level");
    var userScoreSpan = document.querySelector(".current-score-bar > span")
    var currentScoreWidth = (userScore / goalScore) * 110 + 50;
    var currentScoreBar = document.querySelector(".current-score-bar");

    //user level설정
    userLevelSpan.textContent = userLevel;
    userScoreSpan.textContent = user_score;
    // 초기 상태에서 너비를 0으로 설정
    currentScoreBar.style.width = "0";

    // 지정된 시간 간격마다 레벨너비를 늘려주는 애니메이션 함수
    function animateScoreBar() {
      var width = 0;
      var interval = setInterval(function() {
        width += currentScoreWidth / 10; 
        currentScoreBar.style.width = width + "px";
        if (width >= currentScoreWidth) {
          clearInterval(interval);
        }
      }, 3); 
    }

    // 페이지가 로드될 때 애니메이션 실행
    window.addEventListener("load", animateScoreBar);

    
   
    
    //오늘의 메세지 전환 효과
    const bubble = document.querySelector('.bubble');
    const bubbleMessage = document.querySelector('.bubble > .circle > p');
    const hiddenMessage = document.querySelector('.hidden-message');
    const triangle = document.querySelector('.bubble .triangle');
    const circle = document.querySelector('.bubble .circle');
    
    bubble.addEventListener('click', function() {

      const isBubbleClicked = bubble.classList.contains('clicked');
      if (isBubbleClicked) {
        bubble.classList.remove('clicked');
        bubble.classList.add('unclicked');
        bubbleMessage.style.display = 'block';
        hiddenMessage.style.display = 'none';
      }
      else {
        bubble.classList.add('clicked');
        bubble.classList.remove('unclicked');
        bubbleMessage.style.display = 'none';
        hiddenMessage.style.display = 'flex';
      }

    });


    //릴렌지 카드 섹션
    const carouselContainer = document.querySelector('.relenge-list');
    const dots = document.querySelectorAll('.dot');
    const items = document.querySelectorAll('.relenge-card');
    const prev = document.querySelector('.arrow-left');
    const next = document.querySelector('.arrow-right');
    let active = 0;


    // 이전 카드 보기

    function loadShow(){
      let stt = 0;
      items[active].style.transform = `none`;
      items[active].style.zIndex = 1;
      items[active].style.filter = 'none';
      items[active].style.opacity = 1;
      for(var i = active + 1; i < items.length; i++){
        stt++;
        items[i].style.transform = `translateX(${120*stt}px) scale(${1 - 0.25*stt}) perspective(16px) rotateY(-0.5deg)`;
        items[i].style.zIndex = -stt;
        items[i].style.filter = 'blur(3px)';
        items[i].style.opacity = stt > 2 ? 0 : 0.6;
      }
      stt = 0;
      for(var i = active - 1; i >= 0; i--){
        stt++;
        items[i].style.transform = `translateX(${-120*stt}px) scale(${1 - 0.25*stt}) perspective(16px) rotateY(0.5deg)`;
        items[i].style.zIndex = -stt;
        items[i].style.filter = 'blur(3px)';
        items[i].style.opacity = stt > 2 ? 0 : 0.6;
      }
      dots.forEach(dot => {
        dot.classList.remove('active');
      });

      dots[active].classList.add('active');
    }
    loadShow();
    // 카드 및 점 업데이트

      

    // 점 클릭 이벤트
    dots.forEach((dot, index) => {
      dot.addEventListener('click', () => {
        active = index;
        loadShow();
      });
    });

    next.onclick = function(){
      active = active + 1 < items.length ? active + 1 : active;
      loadShow();
    }
    prev.onclick = function(){
      active = active - 1 >= 0 ? active - 1 : active;
      loadShow();
    }
   

    //주간 - 월간 슬라이딩 버튼
    var weeklyOption = document.querySelector('.weekly-option');
    var monthlyOption = document.querySelector('.monthly-option');
    var slideButton = document.querySelector('.slide-button');

    function activateOption(option) {
      option.classList.add('option-active');
      var siblingOption = option === weeklyOption ? monthlyOption : weeklyOption;
      siblingOption.classList.remove('option-active');
      slideButton.style.left = option.offsetLeft + 'px';
    }

    weeklyOption.addEventListener('click', function() {
      activateOption(weeklyOption);
    });

    monthlyOption.addEventListener('click', function() {
      activateOption(monthlyOption);
    });

    //그래프 작성

    const entireDivs = document.querySelectorAll('.entire > div');
    const genderDivs = document.querySelectorAll('.gender > div');
    const ageDivs = document.querySelectorAll('.age > div');

    const entirePercentages = {{all_percentages}};
    const sexPercentages = {{sex_percentages}}
    const agePercentages = {{age_percentages}};
    function setElementWidth(elements, percentages) {
      let lastIndex = 0;
      for (let i = 0; i < 3 ; i++) {
        elements[i].style.width = (percentages[i] / 100) * 210 + 'px';
        if (percentages[i] !== 0) {
          lastIndex = i;
        }
      }
      elements[lastIndex].style.borderRadius = '0 12px 12px 0';
    }

    setElementWidth(entireDivs, entirePercentages);
    setElementWidth(genderDivs, sexPercentages);
    setElementWidth(ageDivs, agePercentages);


    const userResultElement = document.getElementById("user-result");
    const userResultValue = "{{ user_survey_result }}";

    if (userResultValue === "매우 취약한") {
      userResultElement.style.backgroundColor = "#4c89ff";
    } else if (userResultValue === "다소 취약한") {
      userResultElement.style.backgroundColor = "#9abcff";
    } else if (userResultValue === "취약하지 않은") {
      userResultElement.style.backgroundColor = "#6888c5";
    }
  </script>




{% endblock %}

