{% extends 'mobilebase.html' %}
{% load static %}
{% block mobile_title %}
  Ranking of Relanz
{% endblock mobile_title %}

{% block mobile_extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static "css/main/ranking.css"%}">
{% endblock mobile_extrahead %}

{% block mobile_content%}
<!-- 성별이 남자일 경우 남자가 먼저 아니면 여자가 먼저 => for문 순서 -->
{% for key, value in res_ranking.items %}
    <h2>{{ key }}</h2>
    <ol>
    {% for rank, challenge in value %}
        <li>Rank: {{ rank }}, Challenge: {{ challenge.title }}</li>
    {% endfor %}
    </ol>
{% endfor %}

{% endblock %}