{% extends 'base.html' %}
{% load static %}
{% block title %}
  Welcome! Relanz
{% endblock title %}
{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static "css/main/splashscreen.css"%}">
{% endblock extrahead %}
{% block content %}
  <div class="scrollable-container">
    <div id="div1" class="scrollable-item">
      <div class="background">
        <p>나만의 스트레스 해소법을<br>찾아줄 프렌즈,</p>
        <img src="{% static "logo/relanz-logo1.png" %}" alt="relanz-logo">
      </div>
    </div>
    <div id="div2" class="scrollable-item">
      <div class="background">
        <p>오늘도 힘든 하루, 잘 보내셨나요?<br>점차 쌓이는 스트레스, 이젠 관리해봐요!</p>
        <img src="{% static "images/coffeewalking.png" %}" alt="coffee-walking">

      </div>
    </div>
    <div id="div3" class="scrollable-item">
      <div class="background">
        <p>릴렌즈에서는 챌린지가 아닌</p>
        <div class="word-define">
          <span>Relax+Challenge=릴렌지</span>
        </div>
        <p>당신만의 해소법을 찾아갈 수 있는 다양한<br>활동들을 소개해드려요!</p>
        <img src="{% static "logo/relanz-logo2.png" %}" alt="relanz-logo">

      </div>
    </div>
    <div id="div4" class="scrollable-item">
      <div class="background">
        <p>릴렌즈가 당신에게 맞는 다양한<br>릴렌지 활동을 추천할테니<br>나만의 스트레스 해소법을 발견해보아요!</p>
        <img src="{% static "images/listeningmusic.png" %}" alt="listening-music">

      </div>
    </div>
    <a href="#div5" id="skip">
      <img src="{% static "icons/skip.png" %}" alt="skip">
    </a>
    <div id="div5" class="scrollable-item">
      <div class="background-section">
        <div class="img-section">
          <img src="{% static "images/home-faces.svg" %}" alt="home-faces">
        </div>
        <div class="gradient">
          <p></p>
        </div>
      </div>
      <div class="text-section">
        <span>이젠 릴렌즈와 함께<br>당신의 스트레스 해소법을 찾아<br>스트레스 면역력을 키워봐요!</span>
      </div>
      <div class="sign-section">
        <div class="sign-up">
          <a class="sign-up-button" href="{% url 'user:signup' %}">
            <span>
              새롭게 시작하기
            </span>
          </a>
        </div>
        <div class="sign-in">
          <a href="{% url 'user:signin' %}">
            <span>
              &nbsp이미 계정이 있어요!(로그인하기)&nbsp
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>

    function scrollDiv() {
      const container = document.querySelector(".scrollable-container");
      let items = document.querySelectorAll(".scrollable-item");
      let itemIndex = 0;
      const scrollInterval = 3000;
      let intervalId;

      function scrollToNextItem() {
        if (itemIndex < items.length - 1) {
          const nextItem = items[itemIndex + 1];
          container.scrollTop = nextItem.offsetTop;
          itemIndex++;
          if (itemIndex === 4) {
            const skipElement = document.getElementById("skip");
            skipElement.style.display = "none"; // skip 태그 숨기기
          }
        } else {
          clearInterval(intervalId);
        }
      }

      intervalId = setInterval(scrollToNextItem, scrollInterval);

      const skipElement = document.getElementById("skip");
      const lastItem = items[items.length - 1];
      const observerOptions = {
        root: container,
        threshold: 0.9
      };
  
      const observer = new IntersectionObserver(function(entries, observer) {
        entries.forEach(function(entry) {
          if (entry.target === lastItem && entry.isIntersecting) {
            skipElement.style.display = "none";
            clearInterval(intervalId);
          } else {
            skipElement.style.display = "block";
          }
        });
      }, observerOptions);

      observer.observe(lastItem);
    }

    window.addEventListener("load", scrollDiv);
  </script>
{% endblock %}
