{% block title %}
<h1>기록 게시판 홈</h1>  
{% endblock title %}

{% block content %}
<a href="{% url 'community:new' challenge.id %}">내 기록 남기기</a>
<a href="{% url 'community:communityHome' challenge.id %}">내 기록 모아보기</a>
<br />
<hr />
{% for article in page_obj %}
<a href="{% url 'community:detail' challenge.id article.id %}">
    {% if article.image %}
    <img src="{{article.image.url}}" width="100">
    {% endif %}
</a>
{% endfor %}

<span>
    {% if page_obj.has_previous %}
    <a href="?page=1">처음으로</a>
    <a href="?page={{ page_obj.previous_page_number }}">이전</a>
    {% endif %}

    <p>{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</p>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">다음</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">마지막으로</a>
    {% endif %}
</span>

<br/>
<a href="{% url 'main:home' %}">홈</a>
{% endblock content %}