{% extends 'mobileBase.html' %}
{% load static %}
{% block mobile_title %}
    communityHome
{% endblock mobile_title %}
{% block mobile_extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static "css/communityHome.css"%}">
{% endblock mobile_extrahead %}
{% block mobile_content%}
    <div class="container-mobile">
        <div class="main-img-div">
            {% if challenge.image %}
                <img src="{% static challenge.image %}" alt="이미지">
            {% else %}
                <img src="{% static "images/leein_example.jpeg" %}" alt=".">
            {% endif %}
        </div>
        <div class="main-container-div">
            <div class="nav-div-absolute">
                <div class="nav-info">
                    <a href="{% url 'challenge:challenge' challenge_id=challenge.id %}">릴렌지 안내</a>
                </div>
                <div class="nav-board">
                    <a href="{% url 'community:communityHome' challenge_id=challenge.id %}">커뮤니티 게시판</a>
                </div>
            </div>
        </div>
        <div class="title-container-div">
            <div class="title-div">
                <div class="img-div">
                    <img src="{% static "icons/check_circle_down_lean.png" %}" alt=".">
                </div>
                {% if challenge.title %}
                    <p class="title-p">{{challenge.title}}</p>
                {% else %}
                    <p class="title-p">변수명으로 이름 넘겨줘잉~</p>
                {% endif %}
            </div>
            <div class="participant-count-div">
                <div class="participant-img-div">
                    <img src="{% static "icons/human_shaped.png" %}" alt=".">
                </div>
                {% if participants %}
                    <small class="participant-count-small">{{participants}} 명이 참여 중인 릴렌지</small>
                {% else %}
                <small class="participant-count-small">00 명이 참여 중인 릴렌지</small>
                {% endif %}
            </div>
        </div>
        <div class="tag-record-div">
            {% if participated %}
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="record-btn">내 기록 남기기</button>
                </form>
                
                {% comment %} 유저 아이디랑 챌린지 아이디 활용해서 걸러야함! {% endcomment %}
                <a href="{% url 'community:myArticles' challenge.id %}" class="record-btn">내 기록 모아보기</a>

            {% else %}
                <a href="{% url 'challenge:participate' challenge.id %}" class="record-btn">시작하기</a>
            {% endif %}

            {% if messages %}
                {% for message in messages %}
                    <div class="warning-user" id="warning_user_div">
                        <p class="warning-ment">{{message}}</p>
                        <button type="button" class="warning-btn" id="warning_btn" onclick="clickCheckBtn()">확인</button>
                    </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="images-box-div" id="images_box_div" data-startnum="2" data-askurl="{% url "community:communityHome" challenge.id %}">
            {% comment %} 여기에 이미지 url이 list로 던저져야함! -> 했습니당 {% endcomment %}
                {% comment %} reversed 사용해서 가장 최신에 올린 게시물이 위에 있도록 설정 {% endcomment %}
            {% for article in articles %}
                <a href="{% url 'community:detail' challenge.id article.id %}" class="images-box-single-a">
                    <div class="images-box-single">
                        {% if article.image %}
                            <img src="{{article.image.url}}"" alt=".">
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
            
        </div>
        <div class="loading-div">
            <div class="loading-img-div" id="loading_img_div">
                <img src="{% static "icons/loading.png" %}" alt=".">
            </div>
        </div>
        <div class="just-for-margin-div" id="div_end"></div>
        <div class="see-full-go-next" id="see_full_go_next"></div>
    </div>
{% endblock %}
   
{% block mobile-scripts%}
    <script src={% static "js/communityHome.js"%}></script>
    <script>
        function clickCheckBtn() {
            document.querySelector(".warning-user").classList.add("hide");
        } 
    </script>
{% endblock %}


