{% extends 'mobileBase.html' %}
{% load static %}
{% block mobile_title %}
    detail
{% endblock mobile_title %}
{% block mobile_extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static "css/detail.css"%}">
{% endblock mobile_extrahead %}
{% block mobile_content%}
    <div class="container-mobile">
        <div class="main-img-div">
            {% if challenge.image %}
                <img src="{% static challenge.image %}" alt="이미지">
            {% else %}
                <img src="{% static "images/leein_example.jpeg" %}" alt=".">
            {% endif %}
        </div>
        <div class="main-container-div">
            <div class="nav-div-absolute">
                <div class="nav-info">
                    <a href="{% url 'challenge:challenge' challenge.id %}">릴렌지 안내</a>
                </div>
                <div class="nav-board">
                    <a href="{% url 'community:communityHome' challenge.id %}">커뮤니티 게시판</a>
                </div>
            </div>
        </div>
        <div class="title-container-div">
            <div class="title-div">
                <div class="img-div">
                    <img src="{% static "icons/check_circle_down_lean.png" %}" alt=".">
                </div>
                {% if challenge.title %}
                    <p class="title-p">{{challenge.title}}</p>
                {% else %}
                    <p class="title-p">변수명으로 이름 넘겨줘잉~</p>
                {% endif %}
            </div>
            <div class="participant-count-div">
                <div class="participant-img-div">
                    <img src="{% static "icons/human_shaped.png" %}" alt=".">
                </div>
                {% if participant %}
                    <small class="participant-count-small">{{participant|length}} 명이 참여 중인 릴렌지</small>
                {% else %}
                <small class="participant-count-small">0 명이 참여 중인 릴렌지</small>
                {% endif %}
            </div>
        </div>
        <div class="detail-content-background">
            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}#focus" class="left">
                    <img src="{% static "icons/left_arrow.svg" %}" alt=".">
                </a>
            {% endif %}

            {% if articles.has_previous %}
                <a href="?page={{ articles.previous_page_number }}#focus" class="right">
                    <img src="{% static "icons/right_arrow.svg" %}" alt=".">
                </a>
            {% endif %}
            
            <div class="main-content-div">
            {% for article in articles %}
                <div class="header-div">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert-msg-div" id="alert_user_div" onclick="clickCancelBtn(this)">
                                <p class="score-ment">오늘의 기록을 남긴 멋진 당신,<br>스코어를 획득하셨습니다!</p>
                                <div class="score-box">
                                    {% if message|floatformat == "500" %}
                                        <span class="first">1st</span>
                                    {% endif %}
                                    <img src="{% static 'icons/rStar.png' %}" alt="star">
                                    <span class="plus">+</span>
                                    <span class="score">{{message}}</span>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    
                    <div class="user-info-div">
                        <div class="profile-wrapper">
                            <div class="profile-circle">
                              <div class="back-hair"></div>
                              <div class="face"></div>
                              <div class="front-hair"></div>
                              <div class="eyebrows"></div>
                              <div class="eyes"></div>
                              <div class="nose"></div>
                              <div class="mouth"></div>
                              <div class="makeup"></div>
                              <div class="clothes"></div>
                              <div class="acc"></div>
                            </div>
                          </div>
                        <div class="nickname-created-div">
                            <div class="user-nickname">{{author_nickname}} 님</div>
                            <div class="content-created-at">{{current.created_at}}</div>
                        </div>
                    </div>
                    <div class="like-dislike-div">
                        <span class="like-count" id="like_count">{{like_count}}</span>
                        <div id="like_count_image_div" data-url="{% url 'community:like' current.id %}" onclick="clickLikeHeartBtn(this)">
                            <div class="like-img-div">
                                {% if isExist %}
                                    <div class="like-heart-img-div", id="like_heart_img_div">
                                        <img class="like-heart-img" src="{% static "icons/fill_heart.svg" %}" alt=".">
                                    </div>
                                    <div class="dislike-heart-img-div hide" id="dislike_heart_img_div">
                                        <img class="dislike-heart-img" src="{% static "icons/unfill_heart.png" %}" alt=".">
                                    </div>
                                {% else %}
                                    <div class="like-heart-img-div hide", id="like_heart_img_div">
                                        <img class="like-heart-img" src="{% static "icons/fill_heart.svg" %}" alt=".">
                                    </div>
                                    <div class="dislike-heart-img-div" id="dislike_heart_img_div">
                                        <img class="dislike-heart-img" src="{% static "icons/unfill_heart.png" %}" alt=".">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-image-div">
                    {% if current.image %}
                        <img src="{{current.image.url}}" alt="이미지">
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="rest-image-bundle-div" id="focus">
        </div>
    </div>
{% endblock %}
   
{% block mobile-scripts%}
    <script src={% static "js/detail.js"%}></script>
    <script>
        function renderProfileCombination(combinationData) {
            const backHairElement = document.querySelector(".back-hair");
            const frontHairElement = document.querySelector(".front-hair");
            const eyebrowsElement = document.querySelector(".eyebrows");
            const eyesElement = document.querySelector(".eyes");
            const noseElement = document.querySelector(".nose");
            const mouthElement = document.querySelector(".mouth");
            const cheekElement = document.querySelector(".makeup");
            const faceElement = document.querySelector(".face");
            const clothesElement = document.querySelector(".clothes");
            const accElement = document.querySelector(".acc");
          
            // 각 조합 요소의 숫자에 해당하는 이미지 경로 설정
            frontHairElement.style.backgroundImage = `url("{% static 'character/fronthair/fronthair' %}${combinationData[0]}.png")`;
            if (combinationData[1] > 0)
              backHairElement.style.backgroundImage = `url("{% static 'character/backhair/backhair' %}${combinationData[1]}.png")`;
            eyebrowsElement.style.backgroundImage = `url("{% static 'character/brows/brows' %}${combinationData[2]}.png")`;
            eyesElement.style.backgroundImage = `url("{% static 'character/eyes/eyes' %}${combinationData[3]}.png")`;
            noseElement.style.backgroundImage = `url("{% static 'character/nose/nose' %}${combinationData[4]}.png")`;
            mouthElement.style.backgroundImage = `url("{% static 'character/mouth/mouth' %}${combinationData[5]}.png")`;
            if (combinationData[6] > 0)
              cheekElement.style.backgroundImage = `url("{% static 'character/makeup/makeup' %}${combinationData[6]}.png")`;
            faceElement.style.backgroundImage = `url("{% static 'character/face.png' %}")`;
            clothesElement.style.backgroundImage = `url("{% static 'character/clothes/clothes' %}${combinationData[7]}.png")`;
            if (combinationData[8] > 0)
              accElement.style.backgroundImage = `url("{% static 'character/acc/acc' %}${combinationData[8]}.png")`;
        }
        renderProfileCombination("{{user.avatar}}");
    </script>
{% endblock %}
