{% block title %}
<h1>사진 상세보기 페이지</h1>  
{% endblock title %}

{% block content %}
<br />
<hr />
<p>{{article.author}}님</p>
{% if article.image %}
<img src="{{article.image.url}}" width="100">
{% endif %}
<p>기록 일시: {{article.created_at}}</p>

{{like_count}}
<a href="{% url 'community:like' article.id %}">좋아요</a>
<br/>

<a href="{% url 'community:communityHome' challenge.id %}">기록 게시판으로 돌아가기</a>
<a href="{% url 'community:edit' challenge.id article.id %}">수정하기</a>
<a href="{% url 'community:delete' challenge.id article.id %}">삭제하기</a>
{% endblock content %}