{% comment %} {% extends "base.html" %}
{% load static%}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
{% endblock extrahead %} {% endcomment %}

{% block title%}
<h1>사진 업로드 페이지</h1>
{% endblock title %}

{% block content %}
<form method="POST" action="{% url 'community:new' challenge.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    사진 : <input type="file" name="image"/>
    <button type="submit">글작성</button>
</form>

<a href="{% url 'main:home' %}">홈</a>
{% endblock content %}